In [1]:
import numpy as np
import pandas as pd
import itertools

import constants as consts

## Determining the Change in Cost of Gas for Brazilian Residents by State

In this notebook, we will determine if the cost of gas has risen for Brazilian residents after inflation has been taken into account. To determine this, we will use the previously created inflation dataframe, and also account for wage growth in Brazil.

From [this](https://www.statista.com/statistics/941201/growth-rate-average-monthly-income-domestic-workers-brazil/) link, we can determine that wages from 2013 to 2019 have grown by 5.3% by adding the values above or below each bar in the chart. We will determine if gas prices have risen by a greater amount after adjusting for inflation to determine if Brazilian workers are paying more for gas in 2019 when compared to 2013.

In [2]:
df = pd.read_csv('../../data/gas_prices_brazil/brazil_gas_inflation.csv')

In [3]:
df.head()

,Unnamed: 0,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Weeks Since First Day,Adjusted Mean Distribution Price
0,0,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,0.825,1.0,0.825000
1,1,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,1.711,1.0,1.711000
2,2,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,GLP,27.165,1.0,27.165001
3,3,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.249,1.0,1.249000
4,4,2004-05-15,2004,5,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,0.763,1.0,0.763000

In [4]:
# Making a copy prevents the 'SettingWithCopyWarning' warning.

cost_df = df[(df['Last Day of Week'] == '2013-01-12') | (df['Last Day of Week'] == '2019-06-29')].copy()

In [5]:
cost_df.reset_index(inplace = True)

In [6]:
# We can drop the 'Adjusted Mean Distribution Price' column because that value reflects inflation relative to 2004.

cost_df.drop(['Adjusted Mean Distribution Price',
              'Weeks Since First Day',
              'Unnamed: 0',
              'index'], 
               axis = 1, inplace = True)

In [7]:
# To determine inflation from 2013 to 2019, we will use the value of 1R$ in 2019 relative to 2004 from the already
# obtained data, and divide it by the value of 1R$ in 2013 relative to 2004.

r_inf = consts.inf_rates[2019] / consts.inf_rates[2013]
r_inf

1.40625

From this, we can conclude that inflation grew by roughly 41%, which closely resembles the calculation from [here](https://www.in2013dollars.com/brazil/inflation/2013?endYear=2019&amount=1).

In [8]:
cost_df

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price
0,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,1.874
1,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,2.384
2,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GLP,31.420
3,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.954
4,2013-01-12,2013,1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,1.653
...,...,...,...,...,...,...,...
293,2019-06-29,2019,6,SUL,SANTA CATARINA,GASOLINA COMUM,3.784
294,2019-06-29,2019,6,SUL,SANTA CATARINA,GLP,51.702
295,2019-06-29,2019,6,SUL,SANTA CATARINA,GNV,1.998
296,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL,3.023
297,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL S10,3.153

In [9]:
# Checking if there are any zeros in our cost dataframe.

cost_df[cost_df['Mean Distribution Price'] == 0]

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price
7,2013-01-12,2013,1,CENTRO OESTE,GOIAS,GNV,0.0
9,2013-01-12,2013,1,CENTRO OESTE,GOIAS,ÓLEO DIESEL S10,0.0
19,2013-01-12,2013,1,CENTRO OESTE,MATO GROSSO DO SUL,GNV,0.0
36,2013-01-12,2013,1,NORDESTE,CEARA,GLP,0.0
50,2013-01-12,2013,1,NORDESTE,PARAIBA,ÓLEO DIESEL S10,0.0
64,2013-01-12,2013,1,NORDESTE,RIO GRANDE DO NORTE,GLP,0.0
78,2013-01-12,2013,1,NORTE,ACRE,ÓLEO DIESEL S10,0.0
79,2013-01-12,2013,1,NORTE,AMAPA,ETANOL HIDRATADO,0.0
106,2013-01-12,2013,1,NORTE,TOCANTINS,ÓLEO DIESEL S10,0.0
112,2013-01-12,2013,1,SUDESTE,ESPIRITO SANTO,ÓLEO DIESEL S10,0.0
259,2019-06-29,2019,6,SUDESTE,ESPIRITO SANTO,GNV,0.0
265,2019-06-29,2019,6,SUDESTE,MINAS GERAIS,GNV,0.0
283,2019-06-29,2019,6,SUL,PARANA,GNV,0.0

### Replacing the Zero Values

Because there are 13 missing values, using Excel to change these values would not take too much time, and would likely be the best way to proceed in a working environment. However, if there were significantly more zero values, replacing them with Python would be necessary, and doing so will be left to the programmer as an exercise.

In [10]:
# We need the same_cols_df for a function that will be able to replace zero values in cost_df.

same_cols_df = df.copy()
same_cols_df.drop(df.columns.difference(list(cost_df.columns)), axis = 1, inplace = True) # Keeps columns from cost_df
same_cols_df.head()

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price
0,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,0.825
1,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,1.711
2,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,GLP,27.165
3,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.249
4,2004-05-15,2004,5,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,0.763

In [11]:
def cost_query_not_zero(tup):
    
    # The tuple that is passed to this function needs to be of the following form.
    # (State, Type of Product)
    
    return same_cols_df[
        (same_cols_df['State'] == tup[0]) & 
        (same_cols_df['Type of Product'] == tup[1]) &
        (same_cols_df['Mean Distribution Price'] != 0) &
        (same_cols_df['Year'] >= 2013)
    ]

In [12]:
# This is how we will obtain the 2013 values that need to be replaced. Note the the dataframes are in chronological
# order, which is relevant for indexing.

cost_query_not_zero(('GOIAS', 'GNV')).iloc[0]

Last Day of Week             2013-01-19
Year                               2013
Month                                 1
Macro Region               CENTRO OESTE
State                             GOIAS
Type of Product                     GNV
Mean Distribution Price           1.909
Name: 55916, dtype: object

In [13]:
# This is how we will obtain the 2019 values that need to be replaced.

cost_query_not_zero(('ESPIRITO SANTO', 'GNV')).iloc[-1]

Last Day of Week               2019-06-15
Year                                 2019
Month                                   6
Macro Region                      SUDESTE
State                      ESPIRITO SANTO
Type of Product                       GNV
Mean Distribution Price             2.242
Name: 106486, dtype: object

In [14]:
list(cost_df[cost_df['Mean Distribution Price'] == 0].index)

[7, 9, 19, 36, 50, 64, 78, 79, 106, 112, 259, 265, 283]

In [15]:
cost_df.iloc[7]

Last Day of Week             2013-01-12
Year                               2013
Month                                 1
Macro Region               CENTRO OESTE
State                             GOIAS
Type of Product                     GNV
Mean Distribution Price             0.0
Name: 7, dtype: object

In [16]:
cost_df.iloc[7]['Year']

2013

In [17]:
# Iterate over the indices with zero values, and replace the values appropriately.

for ind in list(cost_df[cost_df['Mean Distribution Price'] == 0].index):
    if cost_df.iloc[ind]['Year'] == 2013:
        cost_df.iloc[ind] = cost_query_not_zero((cost_df.iloc[ind]['State'], cost_df.iloc[ind]['Type of Product'])).iloc[0]
    else:
        cost_df.iloc[ind] = cost_query_not_zero((cost_df.iloc[ind]['State'], cost_df.iloc[ind]['Type of Product'])).iloc[-1]

In [18]:
# Checking that the replacement worked as intended.
# The numbers are the indices where the values were replaced.

for i in [7, 9, 19, 36, 50, 64, 78, 79, 106, 112, 259, 265, 283]:
    print (cost_df.iloc[i]['Mean Distribution Price'])

1.909
2.058
1.42
46.0
1.958
31.5
2.284
1.973
1.998
1.929
2.242
2.822
1.909

In [19]:
# If the year is 2019, adjust for inflation. Otherwise, do not adjust for inflation.

inf_adj_dist_price = []

for i in range (len(cost_df)):
    if cost_df.loc[i, 'Year'] == 2019:
        inf_adj_dist_price.append(round(cost_df.loc[i, 'Mean Distribution Price'] / r_inf, 2))
    else:
        inf_adj_dist_price.append(round(cost_df.loc[i, 'Mean Distribution Price'], 2))

In [20]:
cost_df['Adjusted Mean Distribution Price'] = inf_adj_dist_price

In [21]:
# Check to make sure our calculation is working as intended.

cost_df.sample(10)

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price
190,2019-06-29,2019,6,NORDESTE,MARANHAO,GLP,57.642,40.99
55,2013-01-12,2013,1,NORDESTE,PERNAMBUCO,ÓLEO DIESEL,1.904,1.90
276,2019-06-29,2019,6,SUDESTE,SAO PAULO,GLP,49.214,35.00
289,2019-06-29,2019,6,SUL,RIO GRANDE DO SUL,GNV,2.451,1.74
224,2019-06-29,2019,6,NORTE,ACRE,GLP,70.993,50.48
198,2019-06-29,2019,6,NORDESTE,PARAIBA,ÓLEO DIESEL S10,3.268,2.32
201,2019-06-29,2019,6,NORDESTE,PERNAMBUCO,GLP,53.498,38.04
61,2013-01-12,2013,1,NORDESTE,PIAUI,ÓLEO DIESEL S10,1.945,1.94
98,2013-01-12,2013,1,NORTE,RORAIMA,GASOLINA COMUM,2.413,2.41
111,2013-01-12,2013,1,SUDESTE,ESPIRITO SANTO,ÓLEO DIESEL,1.920,1.92

In [22]:
# Verifying that the years are either 2013 or 2019.

print (cost_df['Year'].value_counts())

2019    149
2013    148
2015      1
Name: Year, dtype: int64

In [23]:
# We need to correct the row with the 2015 value.

cost_df.iloc[36]

Last Day of Week                    2015-12-05
Year                                      2015
Month                                       11
Macro Region                          NORDESTE
State                                    CEARA
Type of Product                            GLP
Mean Distribution Price                   46.0
Adjusted Mean Distribution Price          46.0
Name: 36, dtype: object

In [24]:
r_inf_2015 = consts.inf_rates[2019] / consts.inf_rates[2015] # Adjusting for inflation accordingly.
cost_df.at[36, 'Adjusted Mean Distribution Price'] = cost_df.iloc[36]['Adjusted Mean Distribution Price'] * r_inf_2015
cost_df.iloc[36]

Last Day of Week                    2015-12-05
Year                                      2015
Month                                       11
Macro Region                          NORDESTE
State                                    CEARA
Type of Product                            GLP
Mean Distribution Price                   46.0
Adjusted Mean Distribution Price     55.645161
Name: 36, dtype: object

We will need to note that this specific value is the only value that will have a different inflation rate when compared to the others.

### Calculating the Change in Percent

In [25]:
cost_df[
    (cost_df['State'] == 'SAO PAULO') & 
    (cost_df['Type of Product'] == 'GASOLINA COMUM')
]

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price
126,2013-01-12,2013,1,SUDESTE,SAO PAULO,GASOLINA COMUM,2.268,2.27
275,2019-06-29,2019,6,SUDESTE,SAO PAULO,GASOLINA COMUM,3.713,2.64

In [26]:
# We need all combinations of State and Type of Product to calculate the change.
# The number of combinations should be the product of the number of elements in the list, and should also be the 
# number of rows in the dataframe divided by two.

states = list(cost_df['State'].unique())
products = list(cost_df['Type of Product'].unique())

print (len(states), len(products))

sp = [states, products]

combos = list(itertools.product(*sp))
print (len(combos))
print (len(cost_df))

27 6
162
298

In [27]:
# If the dataframe that results from running the cost_query_not_zero function with the combination parameters is 
# empty, then the data does not exist for that combination. If the dataframe has one value, then the information
# is incomplete.

for combo in combos:
    if cost_query_not_zero(combo).empty:
        print (f"{combo} has no data from 2013 to 2019.")
    elif len(cost_query_not_zero(combo)) == 1:
        print (f"{combo} is missing one value.")

('DISTRITO FEDERAL', 'GNV') is missing one value.
('MARANHAO', 'GNV') has no data from 2013 to 2019.
('PIAUI', 'GNV') has no data from 2013 to 2019.
('ACRE', 'GNV') has no data from 2013 to 2019.
('AMAPA', 'GNV') has no data from 2013 to 2019.
('PARA', 'GNV') has no data from 2013 to 2019.
('RONDONIA', 'GNV') has no data from 2013 to 2019.
('RORAIMA', 'GNV') has no data from 2013 to 2019.
('TOCANTINS', 'GNV') has no data from 2013 to 2019.

#### Addressing the Issue of Missing GNV Prices

Using Tableau to explore the data, and by noticing that there should be two rows per combination in our `cost_df` dataframe, it was observed that prices for GNV are missing for multiple regions for the years 2013 to 2019. For this reason, we will not be able to adjust for inflation for these values, and the calculations will remain omitted from our data.

Recall that this data is based off of the table that resulted from the `inflation_cleaning` notebook, and values that originally had a value of '-' were replaced with 0. The `cost_query_not_zero` function checks for nonzero values, so if there were no nonzero values, then the values would be omitted from the `cost_df` dataframe.

In [28]:
cost_df

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price
0,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,1.874,1.87
1,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,2.384,2.38
2,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GLP,31.420,31.42
3,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.954,1.95
4,2013-01-12,2013,1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,1.653,1.65
...,...,...,...,...,...,...,...,...
293,2019-06-29,2019,6,SUL,SANTA CATARINA,GASOLINA COMUM,3.784,2.69
294,2019-06-29,2019,6,SUL,SANTA CATARINA,GLP,51.702,36.77
295,2019-06-29,2019,6,SUL,SANTA CATARINA,GNV,1.998,1.42
296,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL,3.023,2.15
297,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL S10,3.153,2.24

In [29]:
percent_change = lambda original, new: ((new - original) / original) * 100

In [30]:
def before_after_query(tup):
    
    # The tuple passed into this function must be of the form (State, Type of Product)
    
    return cost_df[
        (cost_df['State'] == tup[0]) & 
        (cost_df['Type of Product'] == tup[1])
    ]

In [31]:
before_after_query(combos[0])

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price
0,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,1.874,1.87
149,2019-06-29,2019,6,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,2.801,1.99

In [32]:
# This is how we will index the before and after values from each combination.

print (list(before_after_query(combos[0])['Adjusted Mean Distribution Price'])[0])
print (list(before_after_query(combos[0])['Adjusted Mean Distribution Price'])[-1])

1.87
1.99

In [33]:
# This was used to see why there was an error.

# print(f"The change in percent for {combos[4]} is {percent_change(list(before_after_query(combos[4])['Adjusted Mean Distribution Price'])[0], list(before_after_query(combos[4])['Adjusted Mean Distribution Price'])[-1])}.")

In [34]:
combos[4]

('DISTRITO FEDERAL', 'GNV')

In [35]:
# The IndexError occurs when the (State, Type of Product) combination is missing from the dataframe.
# These are the values that we will need to add to cost_df

for combo in combos:
    try:
        print(f"The change in percent for {combo} is {percent_change(list(before_after_query(combo)['Adjusted Mean Distribution Price'])[0], list(before_after_query(combo)['Adjusted Mean Distribution Price'])[-1])}.")
    except IndexError:
        pass

The change in percent for ('DISTRITO FEDERAL', 'ETANOL HIDRATADO') is 6.417112299465234.
The change in percent for ('DISTRITO FEDERAL', 'GASOLINA COMUM') is 17.226890756302527.
The change in percent for ('DISTRITO FEDERAL', 'GLP') is 17.56842775302354.
The change in percent for ('DISTRITO FEDERAL', 'ÓLEO DIESEL') is 19.999999999999996.
The change in percent for ('DISTRITO FEDERAL', 'ÓLEO DIESEL S10') is 0.0.
The change in percent for ('GOIAS', 'ETANOL HIDRATADO') is 3.63636363636364.
The change in percent for ('GOIAS', 'GASOLINA COMUM') is 18.852459016393443.
The change in percent for ('GOIAS', 'GLP') is 20.763723150357976.
The change in percent for ('GOIAS', 'ÓLEO DIESEL') is 18.974358974358967.
The change in percent for ('GOIAS', 'GNV') is 0.0.
The change in percent for ('GOIAS', 'ÓLEO DIESEL S10') is 15.533980582524265.
The change in percent for ('MATO GROSSO', 'ETANOL HIDRATADO') is -1.9354838709677438.
The change in percent for ('MATO GROSSO', 'GASOLINA COMUM') is 9.881422924901187.
The change in percent for ('MATO GROSSO', 'GLP') is 35.87577639751552.
The change in percent for ('MATO GROSSO', 'ÓLEO DIESEL') is 10.091743119266043.
The change in percent for ('MATO GROSSO', 'GNV') is 0.0.
The change in percent for ('MATO GROSSO', 'ÓLEO DIESEL S10') is 2.0920502092050137.
The change in percent for ('MATO GROSSO DO SUL', 'ETANOL HIDRATADO') is 16.022099447513813.
The change in percent for ('MATO GROSSO DO SUL', 'GASOLINA COMUM') is 12.396694214876044.
The change in percent for ('MATO GROSSO DO SUL', 'GLP') is 0.5340793489318435.
The change in percent for ('MATO GROSSO DO SUL', 'ÓLEO DIESEL') is 7.766990291262142.
The change in percent for ('MATO GROSSO DO SUL', 'GNV') is 2.1126760563380302.
The change in percent for ('MATO GROSSO DO SUL', 'ÓLEO DIESEL S10') is 4.651162790697678.
The change in percent for ('ALAGOAS', 'ETANOL HIDRATADO') is 18.62745098039215.
The change in percent for ('ALAGOAS', 'GASOLINA COMUM') is 20.168067226890756.
The change in percent for ('ALAGOAS', 'GLP') is 36.45418326693226.
The change in percent for ('ALAGOAS', 'ÓLEO DIESEL') is 20.312500000000007.
The change in percent for ('ALAGOAS', 'GNV') is 25.179856115107924.
The change in percent for ('ALAGOAS', 'ÓLEO DIESEL S10') is 21.890547263681615.
The change in percent for ('BAHIA', 'ETANOL HIDRATADO') is 3.645833333333337.
The change in percent for ('BAHIA', 'GASOLINA COMUM') is 18.565400843881854.
The change in percent for ('BAHIA', 'GLP') is 27.788001472211988.
The change in percent for ('BAHIA', 'ÓLEO DIESEL') is 21.621621621621614.
The change in percent for ('BAHIA', 'GNV') is 28.346456692913375.
The change in percent for ('BAHIA', 'ÓLEO DIESEL S10') is 17.3469387755102.
The change in percent for ('CEARA', 'ETANOL HIDRATADO') is 16.256157635467986.
The change in percent for ('CEARA', 'GASOLINA COMUM') is 20.588235294117656.
The change in percent for ('CEARA', 'GLP') is -32.64463768115943.
The change in percent for ('CEARA', 'ÓLEO DIESEL') is 22.051282051282048.
The change in percent for ('CEARA', 'GNV') is 40.425531914893625.
The change in percent for ('CEARA', 'ÓLEO DIESEL S10') is 20.60301507537688.
The change in percent for ('MARANHAO', 'ETANOL HIDRATADO') is 14.285714285714288.
The change in percent for ('MARANHAO', 'GASOLINA COMUM') is 14.52282157676347.
The change in percent for ('MARANHAO', 'GLP') is 17.21475550471834.
The change in percent for ('MARANHAO', 'ÓLEO DIESEL') is 20.10309278350516.
The change in percent for ('MARANHAO', 'ÓLEO DIESEL S10') is 13.592233009708728.
The change in percent for ('PARAIBA', 'ETANOL HIDRATADO') is 17.01030927835052.
The change in percent for ('PARAIBA', 'GASOLINA COMUM') is 22.51082251082251.
The change in percent for ('PARAIBA', 'GLP') is 34.79020979020977.
The change in percent for ('PARAIBA', 'ÓLEO DIESEL') is 20.418848167539263.
The change in percent for ('PARAIBA', 'GNV') is 63.90977443609023.
The change in percent for ('PARAIBA', 'ÓLEO DIESEL S10') is 18.3673469387755.
The change in percent for ('PERNAMBUCO', 'ETANOL HIDRATADO') is 18.324607329842927.
The change in percent for ('PERNAMBUCO', 'GASOLINA COMUM') is 20.085470085470096.
The change in percent for ('PERNAMBUCO', 'GLP') is 34.41696113074204.
The change in percent for ('PERNAMBUCO', 'ÓLEO DIESEL') is 22.631578947368432.
The change in percent for ('PERNAMBUCO', 'GNV') is 7.936507936507943.
The change in percent for ('PERNAMBUCO', 'ÓLEO DIESEL S10') is 12.755102040816327.
The change in percent for ('PIAUI', 'ETANOL HIDRATADO') is 0.46728971962615823.
The change in percent for ('PIAUI', 'GASOLINA COMUM') is 24.242424242424242.
The change in percent for ('PIAUI', 'GLP') is 19.421860885275503.
The change in percent for ('PIAUI', 'ÓLEO DIESEL') is 15.656565656565661.
The change in percent for ('PIAUI', 'ÓLEO DIESEL S10') is 19.072164948453615.
The change in percent for ('RIO GRANDE DO NORTE', 'ETANOL HIDRATADO') is 17.500000000000004.
The change in percent for ('RIO GRANDE DO NORTE', 'GASOLINA COMUM') is 20.851063829787222.
The change in percent for ('RIO GRANDE DO NORTE', 'GLP') is 12.03174603174603.
The change in percent for ('RIO GRANDE DO NORTE', 'ÓLEO DIESEL') is 23.157894736842103.
The change in percent for ('RIO GRANDE DO NORTE', 'GNV') is 48.48484848484848.
The change in percent for ('RIO GRANDE DO NORTE', 'ÓLEO DIESEL S10') is 20.79207920792079.
The change in percent for ('SERGIPE', 'ETANOL HIDRATADO') is 9.569377990430631.
The change in percent for ('SERGIPE', 'GASOLINA COMUM') is 19.008264462809915.
The change in percent for ('SERGIPE', 'GLP') is 36.141592920353986.
The change in percent for ('SERGIPE', 'ÓLEO DIESEL') is 19.897959183673475.
The change in percent for ('SERGIPE', 'GNV') is 29.71014492753625.
The change in percent for ('SERGIPE', 'ÓLEO DIESEL S10') is 12.918660287081341.
The change in percent for ('ACRE', 'ETANOL HIDRATADO') is 5.882352941176466.
The change in percent for ('ACRE', 'GASOLINA COMUM') is 14.122137404580156.
The change in percent for ('ACRE', 'GLP') is 26.54800701930307.
The change in percent for ('ACRE', 'ÓLEO DIESEL') is 17.87234042553191.
The change in percent for ('ACRE', 'ÓLEO DIESEL S10') is 16.666666666666682.
The change in percent for ('AMAPA', 'ETANOL HIDRATADO') is 0.0.
The change in percent for ('AMAPA', 'GASOLINA COMUM') is 5.714285714285701.
The change in percent for ('AMAPA', 'GLP') is 22.842347525891846.
The change in percent for ('AMAPA', 'ÓLEO DIESEL') is 29.000000000000004.
The change in percent for ('AMAPA', 'ÓLEO DIESEL S10') is 0.0.
The change in percent for ('AMAZONAS', 'ETANOL HIDRATADO') is 1.415094339622632.
The change in percent for ('AMAZONAS', 'GASOLINA COMUM') is 7.317073170731714.
The change in percent for ('AMAZONAS', 'GLP') is 63.4785688983351.
The change in percent for ('AMAZONAS', 'ÓLEO DIESEL') is 17.91044776119405.
The change in percent for ('AMAZONAS', 'ÓLEO DIESEL S10') is 14.150943396226406.
The change in percent for ('PARA', 'ETANOL HIDRATADO') is 11.627906976744185.
The change in percent for ('PARA', 'GASOLINA COMUM') is 15.662650602409625.
The change in percent for ('PARA', 'GLP') is 45.83053127101547.
The change in percent for ('PARA', 'ÓLEO DIESEL') is 17.733990147783267.
The change in percent for ('PARA', 'ÓLEO DIESEL S10') is 14.354066985645947.
The change in percent for ('RONDONIA', 'ETANOL HIDRATADO') is 12.077294685990339.
The change in percent for ('RONDONIA', 'GASOLINA COMUM') is 12.749003984063759.
The change in percent for ('RONDONIA', 'GLP') is 34.183381088825215.
The change in percent for ('RONDONIA', 'ÓLEO DIESEL') is 17.156862745098042.
The change in percent for ('RONDONIA', 'ÓLEO DIESEL S10') is 0.0.
The change in percent for ('RORAIMA', 'ETANOL HIDRATADO') is 4.054054054054047.
The change in percent for ('RORAIMA', 'GASOLINA COMUM') is 9.543568464730289.
The change in percent for ('RORAIMA', 'GLP') is 28.123444499751116.
The change in percent for ('RORAIMA', 'ÓLEO DIESEL') is 12.254901960784313.
The change in percent for ('RORAIMA', 'ÓLEO DIESEL S10') is 8.530805687203799.
The change in percent for ('TOCANTINS', 'ETANOL HIDRATADO') is 22.77777777777777.
The change in percent for ('TOCANTINS', 'GASOLINA COMUM') is 17.622950819672138.
The change in percent for ('TOCANTINS', 'GLP') is 9.382582906443776.
The change in percent for ('TOCANTINS', 'ÓLEO DIESEL') is 18.61702127659575.
The change in percent for ('TOCANTINS', 'ÓLEO DIESEL S10') is 13.99999999999999.
The change in percent for ('ESPIRITO SANTO', 'ETANOL HIDRATADO') is 9.478672985782.
The change in percent for ('ESPIRITO SANTO', 'GASOLINA COMUM') is 15.322580645161285.
The change in percent for ('ESPIRITO SANTO', 'GLP') is 21.31032053539978.
The change in percent for ('ESPIRITO SANTO', 'ÓLEO DIESEL') is 16.666666666666682.
The change in percent for ('ESPIRITO SANTO', 'GNV') is 16.058394160583937.
The change in percent for ('ESPIRITO SANTO', 'ÓLEO DIESEL S10') is 18.13471502590673.
The change in percent for ('MINAS GERAIS', 'ETANOL HIDRATADO') is -2.1857923497267775.
The change in percent for ('MINAS GERAIS', 'GASOLINA COMUM') is 24.081632653061217.
The change in percent for ('MINAS GERAIS', 'GLP') is 18.2858910891089.
The change in percent for ('MINAS GERAIS', 'ÓLEO DIESEL') is 17.3469387755102.
The change in percent for ('MINAS GERAIS', 'GNV') is 36.734693877551.
The change in percent for ('MINAS GERAIS', 'ÓLEO DIESEL S10') is 15.19607843137255.
The change in percent for ('RIO DE JANEIRO', 'ETANOL HIDRATADO') is 21.76165803108809.
The change in percent for ('RIO DE JANEIRO', 'GASOLINA COMUM') is 23.32015810276681.
The change in percent for ('RIO DE JANEIRO', 'GLP') is 25.185185185185176.

The change in percent for ('RIO DE JANEIRO', 'ÓLEO DIESEL') is 17.55319148936171.
The change in percent for ('RIO DE JANEIRO', 'GNV') is 36.8.
The change in percent for ('RIO DE JANEIRO', 'ÓLEO DIESEL S10') is 14.646464646464649.
The change in percent for ('SAO PAULO', 'ETANOL HIDRATADO') is 2.5477707006369448.
The change in percent for ('SAO PAULO', 'GASOLINA COMUM') is 16.299559471365644.
The change in percent for ('SAO PAULO', 'GLP') is 23.109391487864933.
The change in percent for ('SAO PAULO', 'ÓLEO DIESEL') is 16.04278074866309.
The change in percent for ('SAO PAULO', 'GNV') is 26.119402985074615.
The change in percent for ('SAO PAULO', 'ÓLEO DIESEL S10') is 15.02590673575131.
The change in percent for ('PARANA', 'ETANOL HIDRATADO') is 3.4682080924855523.
The change in percent for ('PARANA', 'GASOLINA COMUM') is 13.278008298755179.
The change in percent for ('PARANA', 'GLP') is 27.148110999665665.
The change in percent for ('PARANA', 'ÓLEO DIESEL') is 11.64021164021164.
The change in percent for ('PARANA', 'GNV') is -2.15827338129495.
The change in percent for ('PARANA', 'ÓLEO DIESEL S10') is 9.64467005076143.
The change in percent for ('RIO GRANDE DO SUL', 'ETANOL HIDRATADO') is 18.571428571428577.
The change in percent for ('RIO GRANDE DO SUL', 'GASOLINA COMUM') is 23.728813559322038.
The change in percent for ('RIO GRANDE DO SUL', 'GLP') is 17.466967450854018.
The change in percent for ('RIO GRANDE DO SUL', 'ÓLEO DIESEL') is 12.50000000000001.
The change in percent for ('RIO GRANDE DO SUL', 'GNV') is 19.178082191780824.
The change in percent for ('RIO GRANDE DO SUL', 'ÓLEO DIESEL S10') is 9.35960591133007.
The change in percent for ('SANTA CATARINA', 'ETANOL HIDRATADO') is 7.8817733990147865.
The change in percent for ('SANTA CATARINA', 'GASOLINA COMUM') is 14.468085106382972.
The change in percent for ('SANTA CATARINA', 'GLP') is 13.417643429981496.
The change in percent for ('SANTA CATARINA', 'ÓLEO DIESEL') is 11.979166666666666.
The change in percent for ('SANTA CATARINA', 'GNV') is -11.25000000000001.
The change in percent for ('SANTA CATARINA', 'ÓLEO DIESEL S10') is 8.73786407766991.

In [36]:
# Get the 2019 indices that need to be replaced.
# Then, create a dictionary of the form { index: (combination) } that needs to be updated in cost_df

ind_2019 = list(cost_df[cost_df['Year'] == 2019].index)
updates = { k: (cost_df.iloc[k]['State'], cost_df.iloc[k]['Type of Product']) for k in ind_2019 }
updates

{149: ('DISTRITO FEDERAL', 'ETANOL HIDRATADO'),
 150: ('DISTRITO FEDERAL', 'GASOLINA COMUM'),
 151: ('DISTRITO FEDERAL', 'GLP'),
 152: ('DISTRITO FEDERAL', 'ÓLEO DIESEL'),
 153: ('DISTRITO FEDERAL', 'ÓLEO DIESEL S10'),
 154: ('GOIAS', 'ETANOL HIDRATADO'),
 155: ('GOIAS', 'GASOLINA COMUM'),
 156: ('GOIAS', 'GLP'),
 157: ('GOIAS', 'ÓLEO DIESEL'),
 158: ('GOIAS', 'ÓLEO DIESEL S10'),
 159: ('MATO GROSSO', 'ETANOL HIDRATADO'),
 160: ('MATO GROSSO', 'GASOLINA COMUM'),
 161: ('MATO GROSSO', 'GLP'),
 162: ('MATO GROSSO', 'ÓLEO DIESEL'),
 163: ('MATO GROSSO', 'ÓLEO DIESEL S10'),
 164: ('MATO GROSSO DO SUL', 'ETANOL HIDRATADO'),
 165: ('MATO GROSSO DO SUL', 'GASOLINA COMUM'),
 166: ('MATO GROSSO DO SUL', 'GLP'),
 167: ('MATO GROSSO DO SUL', 'GNV'),
 168: ('MATO GROSSO DO SUL', 'ÓLEO DIESEL'),
 169: ('MATO GROSSO DO SUL', 'ÓLEO DIESEL S10'),
 170: ('ALAGOAS', 'ETANOL HIDRATADO'),
 171: ('ALAGOAS', 'GASOLINA COMUM'),
 172: ('ALAGOAS', 'GLP'),
 173: ('ALAGOAS', 'GNV'),
 174: ('ALAGOAS', 'ÓLEO DIESEL'),
 175: ('ALAGOAS', 'ÓLEO DIESEL S10'),
 176: ('BAHIA', 'ETANOL HIDRATADO'),
 177: ('BAHIA', 'GASOLINA COMUM'),
 178: ('BAHIA', 'GLP'),
 179: ('BAHIA', 'GNV'),
 180: ('BAHIA', 'ÓLEO DIESEL'),
 181: ('BAHIA', 'ÓLEO DIESEL S10'),
 182: ('CEARA', 'ETANOL HIDRATADO'),
 183: ('CEARA', 'GASOLINA COMUM'),
 184: ('CEARA', 'GLP'),
 185: ('CEARA', 'GNV'),
 186: ('CEARA', 'ÓLEO DIESEL'),
 187: ('CEARA', 'ÓLEO DIESEL S10'),
 188: ('MARANHAO', 'ETANOL HIDRATADO'),
 189: ('MARANHAO', 'GASOLINA COMUM'),
 190: ('MARANHAO', 'GLP'),
 191: ('MARANHAO', 'ÓLEO DIESEL'),
 192: ('MARANHAO', 'ÓLEO DIESEL S10'),
 193: ('PARAIBA', 'ETANOL HIDRATADO'),
 194: ('PARAIBA', 'GASOLINA COMUM'),
 195: ('PARAIBA', 'GLP'),
 196: ('PARAIBA', 'GNV'),
 197: ('PARAIBA', 'ÓLEO DIESEL'),
 198: ('PARAIBA', 'ÓLEO DIESEL S10'),
 199: ('PERNAMBUCO', 'ETANOL HIDRATADO'),
 200: ('PERNAMBUCO', 'GASOLINA COMUM'),
 201: ('PERNAMBUCO', 'GLP'),
 202: ('PERNAMBUCO', 'GNV'),
 203: ('PERNAMBUCO', 'ÓLEO DIESEL'),
 204: ('PERNAMBUCO', 'ÓLEO DIESEL S10'),
 205: ('PIAUI', 'ETANOL HIDRATADO'),
 206: ('PIAUI', 'GASOLINA COMUM'),
 207: ('PIAUI', 'GLP'),
 208: ('PIAUI', 'ÓLEO DIESEL'),
 209: ('PIAUI', 'ÓLEO DIESEL S10'),
 210: ('RIO GRANDE DO NORTE', 'ETANOL HIDRATADO'),
 211: ('RIO GRANDE DO NORTE', 'GASOLINA COMUM'),
 212: ('RIO GRANDE DO NORTE', 'GLP'),
 213: ('RIO GRANDE DO NORTE', 'GNV'),
 214: ('RIO GRANDE DO NORTE', 'ÓLEO DIESEL'),
 215: ('RIO GRANDE DO NORTE', 'ÓLEO DIESEL S10'),
 216: ('SERGIPE', 'ETANOL HIDRATADO'),
 217: ('SERGIPE', 'GASOLINA COMUM'),
 218: ('SERGIPE', 'GLP'),
 219: ('SERGIPE', 'GNV'),
 220: ('SERGIPE', 'ÓLEO DIESEL'),
 221: ('SERGIPE', 'ÓLEO DIESEL S10'),
 222: ('ACRE', 'ETANOL HIDRATADO'),
 223: ('ACRE', 'GASOLINA COMUM'),
 224: ('ACRE', 'GLP'),
 225: ('ACRE', 'ÓLEO DIESEL'),
 226: ('ACRE', 'ÓLEO DIESEL S10'),
 227: ('AMAPA', 'GASOLINA COMUM'),
 228: ('AMAPA', 'GLP'),
 229: ('AMAPA', 'ÓLEO DIESEL'),
 230: ('AMAPA', 'ÓLEO DIESEL S10'),
 231: ('AMAZONAS', 'ETANOL HIDRATADO'),
 232: ('AMAZONAS', 'GASOLINA COMUM'),
 233: ('AMAZONAS', 'GLP'),
 234: ('AMAZONAS', 'ÓLEO DIESEL'),
 235: ('AMAZONAS', 'ÓLEO DIESEL S10'),
 236: ('PARA', 'ETANOL HIDRATADO'),
 237: ('PARA', 'GASOLINA COMUM'),
 238: ('PARA', 'GLP'),
 239: ('PARA', 'ÓLEO DIESEL'),
 240: ('PARA', 'ÓLEO DIESEL S10'),
 241: ('RONDONIA', 'ETANOL HIDRATADO'),
 242: ('RONDONIA', 'GASOLINA COMUM'),
 243: ('RONDONIA', 'GLP'),
 244: ('RONDONIA', 'ÓLEO DIESEL'),
 245: ('RONDONIA', 'ÓLEO DIESEL S10'),
 246: ('RORAIMA', 'ETANOL HIDRATADO'),
 247: ('RORAIMA', 'GASOLINA COMUM'),
 248: ('RORAIMA', 'GLP'),
 249: ('RORAIMA', 'ÓLEO DIESEL'),
 250: ('RORAIMA', 'ÓLEO DIESEL S10'),
 251: ('TOCANTINS', 'ETANOL HIDRATADO'),
 252: ('TOCANTINS', 'GASOLINA COMUM'),
 253: ('TOCANTINS', 'GLP'),
 254: ('TOCANTINS', 'ÓLEO DIESEL'),
 255: ('TOCANTINS', 'ÓLEO DIESEL S10'),
 256: ('ESPIRITO SANTO', 'ETANOL HIDRATADO'),
 257: ('ESPIRITO SANTO', 'GASOLINA COMUM'),
 258: ('ESPIRITO SANTO', 'GLP'),
 259: ('ESPIRITO SANTO', 'GNV'),
 260: ('ESPIRITO SANTO', 'ÓLEO DIESEL'),
 261: ('ESPIRITO SANTO', 'ÓLEO DIESEL S10'),
 262: ('MINAS GERAIS', 'ETANOL HIDRATADO'),
 263: ('MINAS GERAIS', 'GASOLINA COMUM'),
 264: ('MINAS GERAIS', 'GLP'),
 265: ('MINAS GERAIS', 'GNV'),
 266: ('MINAS GERAIS', 'ÓLEO DIESEL'),
 267: ('MINAS GERAIS', 'ÓLEO DIESEL S10'),
 268: ('RIO DE JANEIRO', 'ETANOL HIDRATADO'),
 269: ('RIO DE JANEIRO', 'GASOLINA COMUM'),
 270: ('RIO DE JANEIRO', 'GLP'),
 271: ('RIO DE JANEIRO', 'GNV'),
 272: ('RIO DE JANEIRO', 'ÓLEO DIESEL'),
 273: ('RIO DE JANEIRO', 'ÓLEO DIESEL S10'),
 274: ('SAO PAULO', 'ETANOL HIDRATADO'),
 275: ('SAO PAULO', 'GASOLINA COMUM'),
 276: ('SAO PAULO', 'GLP'),
 277: ('SAO PAULO', 'GNV'),
 278: ('SAO PAULO', 'ÓLEO DIESEL'),
 279: ('SAO PAULO', 'ÓLEO DIESEL S10'),
 280: ('PARANA', 'ETANOL HIDRATADO'),
 281: ('PARANA', 'GASOLINA COMUM'),
 282: ('PARANA', 'GLP'),
 283: ('PARANA', 'GNV'),
 284: ('PARANA', 'ÓLEO DIESEL'),
 285: ('PARANA', 'ÓLEO DIESEL S10'),
 286: ('RIO GRANDE DO SUL', 'ETANOL HIDRATADO'),
 287: ('RIO GRANDE DO SUL', 'GASOLINA COMUM'),
 288: ('RIO GRANDE DO SUL', 'GLP'),
 289: ('RIO GRANDE DO SUL', 'GNV'),
 290: ('RIO GRANDE DO SUL', 'ÓLEO DIESEL'),
 291: ('RIO GRANDE DO SUL', 'ÓLEO DIESEL S10'),
 292: ('SANTA CATARINA', 'ETANOL HIDRATADO'),
 293: ('SANTA CATARINA', 'GASOLINA COMUM'),
 294: ('SANTA CATARINA', 'GLP'),
 295: ('SANTA CATARINA', 'GNV'),
 296: ('SANTA CATARINA', 'ÓLEO DIESEL'),
 297: ('SANTA CATARINA', 'ÓLEO DIESEL S10')}

In [37]:
# Create a new column of all zeros so that the column exists, then run a for loop to adjust the values accordingly.

cost_df['Adjusted Percent Increase'] = 0.0

In [38]:
# Reference for indexing the needed values for the percent_change function.

list(before_after_query(updates[149])['Adjusted Mean Distribution Price'])

[1.87, 1.99]

In [39]:
for key in updates:
    cost_df.loc[key, 'Adjusted Percent Increase'] = round(percent_change(
        list(before_after_query(updates[key])['Adjusted Mean Distribution Price'])[0],
        list(before_after_query(updates[key])['Adjusted Mean Distribution Price'])[-1]
    ), 2)
    
cost_df

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price,Adjusted Percent Increase
0,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,1.874,1.87,0.00
1,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,2.384,2.38,0.00
2,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GLP,31.420,31.42,0.00
3,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.954,1.95,0.00
4,2013-01-12,2013,1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,1.653,1.65,0.00
...,...,...,...,...,...,...,...,...,...
293,2019-06-29,2019,6,SUL,SANTA CATARINA,GASOLINA COMUM,3.784,2.69,14.47
294,2019-06-29,2019,6,SUL,SANTA CATARINA,GLP,51.702,36.77,13.42
295,2019-06-29,2019,6,SUL,SANTA CATARINA,GNV,1.998,1.42,-11.25
296,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL,3.023,2.15,11.98
297,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL S10,3.153,2.24,8.74

In [40]:
# Recall that the source listed underneath the first line in the notebook claims that wages have grown by 5.3%
# Recall that updates.keys() is the list of indicies where the year is 2019.
# Setting the value to 0.0 prevents the column from being created with integer values when we want floats.

cost_df['Adjusted Percent After Wage Growth'] = 0.0

In [41]:
for ind in list(updates.keys()):
    cost_df.at[ind, 'Adjusted Percent After Wage Growth'] = round(cost_df.at[ind, 'Adjusted Percent Increase'] - 5.3, 2)

In [42]:
# Checking the calculation

cost_df.sample(10)

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price,Adjusted Percent Increase,Adjusted Percent After Wage Growth
13,2013-01-12,2013,1,CENTRO OESTE,MATO GROSSO,GNV,1.430,1.43,0.00,0.00
236,2019-06-29,2019,6,NORTE,PARA,ETANOL HIDRATADO,3.377,2.40,11.63,6.33
245,2019-06-29,2019,6,NORTE,RONDONIA,ÓLEO DIESEL S10,3.396,2.41,0.00,-5.30
42,2013-01-12,2013,1,NORDESTE,MARANHAO,GLP,34.968,34.97,0.00,0.00
127,2013-01-12,2013,1,SUDESTE,SAO PAULO,GLP,28.429,28.43,0.00,0.00
168,2019-06-29,2019,6,CENTRO OESTE,MATO GROSSO DO SUL,ÓLEO DIESEL,3.126,2.22,7.77,2.47
248,2019-06-29,2019,6,NORTE,RORAIMA,GLP,72.390,51.48,28.12,22.82
204,2019-06-29,2019,6,NORDESTE,PERNAMBUCO,ÓLEO DIESEL S10,3.106,2.21,12.76,7.46
44,2013-01-12,2013,1,NORDESTE,MARANHAO,ÓLEO DIESEL S10,2.055,2.06,0.00,0.00
208,2019-06-29,2019,6,NORDESTE,PIAUI,ÓLEO DIESEL,3.222,2.29,15.66,10.36

In [43]:
# Checking for discrepancies in the calculation.

cost_df[(cost_df['Year'] != 2013) & (cost_df['Adjusted Percent Increase'] == 0)]

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price,Adjusted Percent Increase,Adjusted Percent After Wage Growth
36,2015-12-05,2015,11,NORDESTE,CEARA,GLP,46.000,55.645161,0.0,0.0
153,2019-06-29,2019,6,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL S10,3.420,2.430000,0.0,-5.3
230,2019-06-29,2019,6,NORTE,AMAPA,ÓLEO DIESEL S10,4.015,2.860000,0.0,-5.3
245,2019-06-29,2019,6,NORTE,RONDONIA,ÓLEO DIESEL S10,3.396,2.410000,0.0,-5.3