In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../../data/dataxp/airbnb_project/raw_data/airbnb/nyc_detailed_calendar.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13397123 entries, 0 to 13397122
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 715.5+ MB

In [4]:
df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,55982,2021-08-04,f,$85.00,$85.00,3.0,18.0
1,2595,2021-08-04,t,$150.00,$150.00,30.0,1125.0
2,2595,2021-08-05,t,$150.00,$150.00,30.0,1125.0
3,2595,2021-08-06,t,$150.00,$150.00,30.0,1125.0
4,2595,2021-08-07,f,$150.00,$150.00,30.0,1125.0

## Cleaning the Data

To prepare the data for Postgres, we will update the available column to have `1` and `0` values inplace of `t` and `f` respectively, give each part of the date its own column, and remove decimals where the value after the decimal is `0`. Further, we will remove both price columns, as this information is already in the database if needed.

In [5]:
# Cleaning the available column. Replace 't' with 1 and 'f' with 0.

df['available'] = np.where(
    df['available'].str.contains('t'), 1, 0
)

In [6]:
# Dropping the price columns
df.drop(['price', 'adjusted_price'], axis = 1, inplace = True)

In [7]:
df.head()

   listing_id        date  available  minimum_nights  maximum_nights
0       55982  2021-08-04          0             3.0            18.0
1        2595  2021-08-04          1            30.0          1125.0
2        2595  2021-08-05          1            30.0          1125.0
3        2595  2021-08-06          1            30.0          1125.0
4        2595  2021-08-07          0            30.0          1125.0