In [1]:
import numpy as np
import pandas as pd

In [2]:
nyc_detailed = pd.read_csv('../../data/dataxp/airbnb/nyc_detailed_listings.csv')
nyc_listings = pd.read_csv('../../data/dataxp/airbnb/nyc_listings.csv')

In [3]:
nyc_detailed.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20210804005827,2021-08-04,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,4.79,4.86,4.41,NaN,f,3,3,0,0,0.34
1,3831,https://www.airbnb.com/rooms/3831,20210804005827,2021-08-04,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,...,4.81,4.72,4.65,NaN,f,1,1,0,0,5.09
2,5121,https://www.airbnb.com/rooms/5121,20210804005827,2021-08-04,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,4.91,4.47,4.52,NaN,f,1,0,1,0,0.55
3,5136,https://www.airbnb.com/rooms/5136,20210804005827,2021-08-04,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,...,5.00,4.00,5.00,NaN,f,1,1,0,0,0.01
4,5178,https://www.airbnb.com/rooms/5178,20210804005827,2021-08-04,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,...,4.40,4.86,4.35,NaN,f,1,0,1,0,3.63

In [4]:
nyc_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.34,3,341,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,408,2021-06-29,5.09,1,212,68,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.55,1,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,1,2014-01-02,0.01,1,184,0,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,2,485,2021-07-18,3.63,1,255,12,NaN

In [5]:
nyc_detailed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36724 non-null  int64
 1   listing_url                                   36724 non-null  object
 2   scrape_id                                     36724 non-null  int64
 3   last_scraped                                  36724 non-null  object
 4   name                                          36711 non-null  object
 5   description                                   35488 non-null  object
 6   neighborhood_overview                         22591 non-null  object
 7   picture_url                                   36724 non-null  object
 8   host_id                                       36724 non-null  int64
 9   host_url                                      36724 non-null  object
 10  host_name                                     36701 non-null  object
 11  host_since                                    36701 non-null  object
 12  host_location                                 36605 non-null  object
 13  host_about                                    21692 non-null  object
 14  host_response_time                            21048 non-null  object
 15  host_response_rate                            21048 non-null  object
 16  host_acceptance_rate                          21538 non-null  object
 17  host_is_superhost                             36701 non-null  object
 18  host_thumbnail_url                            36701 non-null  object
 19  host_picture_url                              36701 non-null  object
 20  host_neighbourhood                            29853 non-null  object
 21  host_listings_count                           36701 non-null  float64
 22  host_total_listings_count                     36701 non-null  float64
 23  host_verifications                            36724 non-null  object
 24  host_has_profile_pic                          36701 non-null  object
 25  host_identity_verified                        36701 non-null  object
 26  neighbourhood                                 22592 non-null  object
 27  neighbourhood_cleansed                        36724 non-null  object
 28  neighbourhood_group_cleansed                  36724 non-null  object
 29  latitude                                      36724 non-null  float64
 30  longitude                                     36724 non-null  float64
 31  property_type                                 36724 non-null  object
 32  room_type                                     36724 non-null  object
 33  accommodates                                  36724 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                36615 non-null  object
 36  bedrooms                                      32855 non-null  float64
 37  beds                                          36130 non-null  float64
 38  amenities                                     36724 non-null  object
 39  price                                         36724 non-null  object
 40  minimum_nights                                36724 non-null  int64
 41  maximum_nights                                36724 non-null  int64
 42  minimum_minimum_nights                        36707 non-null  float64
 43  maximum_minimum_nights                        36707 non-null  float64
 44  minimum_maximum_nights                        36707 non-null  float64
 45  maximum_maximum_nights                        36707 non-null  float64
 46  minimum_nights_avg_ntm                        36707 non-null  float64
 47  maximum_nights_avg_ntm                        36707 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              36724 non-null  object
 50  availability_30                               36724 non-null  int64
 51  availability_60                               36724 non-null  int64
 52  availability_90                               36724 non-null  int64
 53  availability_365                              36724 non-null  int64
 54  calendar_last_scraped                         36724 non-null  object
 55  number_of_reviews                             36724 non-null  int64
 56  number_of_reviews_ltm                         36724 non-null  int64
 57  number_of_reviews_l30d                        36724 non-null  int64
 58  first_review                                  27309 non-null  object
 59  last_review                                   27309 non-null  object
 60  review_scores_rating                          27309 non-null  float64
 61  review_scores_accuracy                        26661 non-null  float64
 62  review_scores_cleanliness                     26672 non-null  float64
 63  review_scores_checkin                         26653 non-null  float64
 64  review_scores_communication                   26664 non-null  float64
 65  review_scores_location                        26649 non-null  float64
 66  review_scores_value                           26649 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              36724 non-null  object
 69  calculated_host_listings_count                36724 non-null  int64
 70  calculated_host_listings_count_entire_homes   36724 non-null  int64
 71  calculated_host_listings_count_private_rooms  36724 non-null  int64
 72  calculated_host_listings_count_shared_rooms   36724 non-null  int64
 73  reviews_per_month                             27309 non-null  float64
dtypes: float64(23), int64(17), object(34)
memory usage: 20.7+ MB

In [6]:
nyc_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  int64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews               36724 non-null  int64
 12  last_review                     27309 non-null  object
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  number_of_reviews_ltm           36724 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(4), int64(8), object(6)
memory usage: 5.0+ MB

In [7]:
nyc_detailed['bedrooms'].isna().sum()

3869

## Choosing Which Columns to Add to `nyc_listings` for Postgres Table

The following columns from `nyc_detailed` may be useful for analysis.
* host_response_time
* host_response_rate
* host_has_profile_pic
* property_type
* bedrooms
* bathrooms_text (notice that bathrooms has 0 non-null values.)
* description (may be helpful for NLP)
* accommodates (number of people that the listing can hold)
* amenities
* maximum_nights
* number_of_reviews
* review_scores_rating
* review_scores_cleanliness
* review_scores_value
* review_scores_communication
* instant_bookable (Whether the guest can automatically book the listing without the host requiring to accept their booking request. An indicator of a commercial listing.)

In [8]:
keep_columns = [
    'id', # This is likely the column on which to merge.
    'host_response_time',
    'host_response_rate',
    'host_has_profile_pic',
    'property_type',
    'bedrooms',
    'bathrooms_text',
    'description',
    'accommodates',
    'amenities',
    'maximum_nights',
    'number_of_reviews',
    'review_scores_rating',
    'review_scores_cleanliness',
    'review_scores_value',
    'review_scores_communication'
]

nyc_detailed[keep_columns]

,id,host_response_time,host_response_rate,host_has_profile_pic,property_type,bedrooms,bathrooms_text,description,accommodates,amenities,maximum_nights,number_of_reviews,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication
0,2595,NaN,NaN,t,Entire rental unit,NaN,1 bath,"Beautiful, spacious skylit studio in the heart...",1,"[""Essentials"", ""Extra pillows and blankets"", ""...",1125,48,4.70,4.62,4.41,4.79
1,3831,within a day,50%,t,Entire guest suite,1.0,1 bath,"Enjoy 500 s.f. top floor in 1899 brownstone, w...",3,"[""Essentials"", ""TV with standard cable"", ""Baby...",730,408,4.46,4.50,4.65,4.81
2,5121,within a day,100%,t,Private room in rental unit,1.0,NaN,<b>The space</b><br />HELLO EVERYONE AND THANK...,2,"[""Long term stays allowed"", ""Air conditioning""...",730,50,4.52,4.09,4.52,4.91
3,5136,within a day,88%,t,Entire rental unit,2.0,1.5 baths,We welcome you to stay in our lovely 2 br dupl...,4,"[""TV with standard cable"", ""Long term stays al...",1125,1,5.00,5.00,5.00,5.00
4,5178,within an hour,100%,t,Private room in rental unit,1.0,1 bath,Please don’t expect the luxury here just a bas...,2,"[""Essentials"", ""Free street parking"", ""TV"", ""W...",14,485,4.20,3.71,4.35,4.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,within an hour,100%,t,Entire rental unit,2.0,1 bath,Gorgeous 2 Bedroom apartment. Located in prime...,4,"[""Essentials"", ""Mosquito net"", ""Extra pillows ...",1125,0,NaN,NaN,NaN,NaN
36720,51449962,NaN,NaN,t,Entire rental unit,2.0,2 baths,"2-bdrm (or 1-bdrm, 1-office) and 2-bath comfor...",4,"[""Essentials"", ""Long term stays allowed"", ""Wif...",365,0,NaN,NaN,NaN,NaN
36721,51450816,within a few hours,99%,t,Entire rental unit,NaN,1 bath,Welcome to The Hunter. This is a sophisticated...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN
36722,51451029,NaN,NaN,t,Private room in rental unit,1.0,1 private bath,"Cute, tidy, peaceful bedroom by the bay. Block...",2,"[""Essentials"", ""Fire extinguisher"", ""Lock on b...",3,0,NaN,NaN,NaN,NaN
36723,51451368,within an hour,100%,t,Entire rental unit,2.0,1 bath,2 bedroom Apt located right off 5th ave. With ...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",365,0,NaN,NaN,NaN,NaN

In [9]:
# Make sure that the columns are equal prior to merging.

nyc_detailed['id'].equals(nyc_listings['id'])

True

In [10]:
nyc_merged = nyc_listings.merge(nyc_detailed[keep_columns], on = 'id')

In [11]:
nyc_merged

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,bathrooms_text,description,accommodates,amenities,maximum_nights,number_of_reviews_y,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,...,1 bath,"Beautiful, spacious skylit studio in the heart...",1,"[""Essentials"", ""Extra pillows and blankets"", ""...",1125,48,4.70,4.62,4.41,4.79
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75,...,1 bath,"Enjoy 500 s.f. top floor in 1899 brownstone, w...",3,"[""Essentials"", ""TV with standard cable"", ""Baby...",730,408,4.46,4.50,4.65,4.81
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,...,NaN,<b>The space</b><br />HELLO EVERYONE AND THANK...,2,"[""Long term stays allowed"", ""Air conditioning""...",730,50,4.52,4.09,4.52,4.91
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,...,1.5 baths,We welcome you to stay in our lovely 2 br dupl...,4,"[""TV with standard cable"", ""Long term stays al...",1125,1,5.00,5.00,5.00,5.00
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61,...,1 bath,Please don’t expect the luxury here just a bas...,2,"[""Essentials"", ""Free street parking"", ""TV"", ""W...",14,485,4.20,3.71,4.35,4.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255,...,1 bath,Gorgeous 2 Bedroom apartment. Located in prime...,4,"[""Essentials"", ""Mosquito net"", ""Extra pillows ...",1125,0,NaN,NaN,NaN,NaN
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306,...,2 baths,"2-bdrm (or 1-bdrm, 1-office) and 2-bath comfor...",4,"[""Essentials"", ""Long term stays allowed"", ""Wif...",365,0,NaN,NaN,NaN,NaN
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,...,1 bath,Welcome to The Hunter. This is a sophisticated...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75,...,1 private bath,"Cute, tidy, peaceful bedroom by the bay. Block...",2,"[""Essentials"", ""Fire extinguisher"", ""Lock on b...",3,0,NaN,NaN,NaN,NaN
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115,...,1 bath,2 bedroom Apt located right off 5th ave. With ...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",365,0,NaN,NaN,NaN,NaN

In [12]:
nyc_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36724 entries, 0 to 36723
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  int64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews_x             36724 non-null  int64
 12  last_review                     27309 non-null  object
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  number_of_reviews_ltm           36724 non-null  int64
 17  license                         0 non-null      float64
 18  host_response_time              21048 non-null  object
 19  host_response_rate              21048 non-null  object
 20  host_has_profile_pic            36701 non-null  object
 21  property_type                   36724 non-null  object
 22  bedrooms                        32855 non-null  float64
 23  bathrooms_text                  36615 non-null  object
 24  description                     35488 non-null  object
 25  accommodates                    36724 non-null  int64
 26  amenities                       36724 non-null  object
 27  maximum_nights                  36724 non-null  int64
 28  number_of_reviews_y             36724 non-null  int64
 29  review_scores_rating            27309 non-null  float64
 30  review_scores_cleanliness       26672 non-null  float64
 31  review_scores_value             26649 non-null  float64
 32  review_scores_communication     26664 non-null  float64
dtypes: float64(9), int64(11), object(13)
memory usage: 9.5+ MB