In [1]:
import numpy as np
import pandas as pd

import scipy.stats as stats

In [2]:
df = pd.read_csv('../../data/tests/Titanic_R.csv')

In [6]:
df.head()

,pclass,survived,Residence,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender
0,3,0,0,"Abbing, Mr. Anthony",42,0,0,C.A. 5547,7.55,,S,,,,0
1,3,0,0,"Abbott, Master. Eugene Joseph",13,0,2,C.A. 2673,20.25,,S,,,"East Providence, RI",0
2,3,0,0,"Abbott, Mr. Rossmore Edward",16,1,1,C.A. 2673,20.25,,S,,190,"East Providence, RI",0
3,3,1,0,"Abbott, Mrs. Stanton (Rosa Hunt)",35,1,1,C.A. 2673,20.25,,S,A,,"East Providence, RI",1
4,3,1,2,"Abelseth, Miss. Karen Marie",16,0,0,348125,7.65,,S,16,,"Norway Los Angeles, CA",1

The categorical variables can be described as follows.
- Survived: 0 = died, 1 = survived.
- Gender: 0 = male, 1 = female.
- Residence: 0 = America, 1 = British, 2 = Other

We will change the data accordingly.

In [12]:
df['survived'] = df['survived'].replace({0: 'died', 1: 'survived'})
df['Gender'] = df['Gender'].replace({0: 'male', 1: 'female'})
df['Residence'] = df['Residence'].replace({0: 'America', 1: 'British', 2: 'Other'})

In [13]:
df.head()

,pclass,survived,Residence,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender
0,3,died,America,"Abbing, Mr. Anthony",42,0,0,C.A. 5547,7.55,,S,,,,male
1,3,died,America,"Abbott, Master. Eugene Joseph",13,0,2,C.A. 2673,20.25,,S,,,"East Providence, RI",male
2,3,died,America,"Abbott, Mr. Rossmore Edward",16,1,1,C.A. 2673,20.25,,S,,190,"East Providence, RI",male
3,3,survived,America,"Abbott, Mrs. Stanton (Rosa Hunt)",35,1,1,C.A. 2673,20.25,,S,A,,"East Providence, RI",female
4,3,survived,Other,"Abelseth, Miss. Karen Marie",16,0,0,348125,7.65,,S,16,,"Norway Los Angeles, CA",female

We now attempt to determine whether nationality affected survival outcome.

In [67]:
# Note that in the line below, the choice of 'pclass' as the column is irrelevant, as all columns display the same number.

survival_df = df.groupby(['survived', 'Residence']).count().reset_index()

survival_df = survival_df.pivot(index = 'survived',
                                columns = 'Residence')['pclass']

survival_df['Sum'] = survival_df.sum(axis = 1)
survival_df

Residence  America  British  Other  Sum
survived
died           113      206    490  809
survived       145       96    259  500