In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import constants as consts

## Determining the Change in Cost of Gas for Brazilian Residents by State

In this notebook, we will determine if the cost of gas has risen for Brazilian residents after inflation has been taken into account. To determine this, we will use the previously created inflation dataframe, and also account for wage growth in Brazil.

From [this](https://www.statista.com/statistics/941201/growth-rate-average-monthly-income-domestic-workers-brazil/) link, we can determine that wages from 2013 to 2019 have grown by 5.3%. We will determine if gas prices have risen by a greater amount to determine if Brazilian workers are paying more for gas in 2019 when compared to 2013.

In [2]:
df = pd.read_csv('../../data/gas_prices_brazil/brazil_gas_inflation.csv')

In [3]:
df.head()

,Unnamed: 0,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Weeks Since First Day,Adjusted Mean Distribution Price
0,0,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,0.825,1.0,0.825000
1,1,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,1.711,1.0,1.711000
2,2,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,GLP,27.165,1.0,27.165001
3,3,2004-05-15,2004,5,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.249,1.0,1.249000
4,4,2004-05-15,2004,5,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,0.763,1.0,0.763000

In [4]:
# Making a copy prevents the 'SettingWithCopyWarning' warning.

cost_df = df[(df['Last Day of Week'] == '2013-01-12') | (df['Last Day of Week'] == '2019-06-29')].copy()

In [5]:
cost_df.reset_index(inplace = True)

In [6]:
# We can drop the 'Adjusted Mean Distribution Price' column because that value reflects inflation relative to 2004.

cost_df.drop(['Adjusted Mean Distribution Price',
              'Weeks Since First Day',
              'Unnamed: 0',
              'index'], 
               axis = 1, inplace = True)

In [7]:
# To determine inflation from 2013 to 2019, we will use the value of 1R$ in 2019 relative to 2004 from the already
# obtained data, and divide it by the value of 1R$ in 2013 relative to 2004.

r_inf = consts.inf_rates[2019] / consts.inf_rates[2013]
r_inf

1.40625

From this, we can conclude that inflation grew by roughly 41%.

In [8]:
cost_df

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price
0,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,1.874
1,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,2.384
2,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,GLP,31.420
3,2013-01-12,2013,1,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,1.954
4,2013-01-12,2013,1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,1.653
...,...,...,...,...,...,...,...
293,2019-06-29,2019,6,SUL,SANTA CATARINA,GASOLINA COMUM,3.784
294,2019-06-29,2019,6,SUL,SANTA CATARINA,GLP,51.702
295,2019-06-29,2019,6,SUL,SANTA CATARINA,GNV,1.998
296,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL,3.023
297,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL S10,3.153

In [10]:
# If the year is 2013, we do not need to adjust for inflation, otherwise, adjust for inflation.

inf_adj_dist_price = []

for i in range (len(cost_df)):
    if cost_df.loc[i, 'Year'] == 2019:
        inf_adj_dist_price.append(cost_df.loc[i, 'Mean Distribution Price'] / r_inf)
    else:
        inf_adj_dist_price.append(cost_df.loc[i, 'Mean Distribution Price'])

In [12]:
cost_df['Adjusted Mean Distribution Price'] = inf_adj_dist_price

In [13]:
# Check to make sure our calculation is working as intended.

cost_df.sample(10)

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price
209,2019-06-29,2019,6,NORDESTE,PIAUI,ÓLEO DIESEL S10,3.243,2.306133
294,2019-06-29,2019,6,SUL,SANTA CATARINA,GLP,51.702,36.765867
140,2013-01-12,2013,1,SUL,RIO GRANDE DO SUL,GNV,1.456,1.456000
297,2019-06-29,2019,6,SUL,SANTA CATARINA,ÓLEO DIESEL S10,3.153,2.242133
34,2013-01-12,2013,1,NORDESTE,CEARA,ETANOL HIDRATADO,2.031,2.031000
264,2019-06-29,2019,6,SUDESTE,MINAS GERAIS,GLP,53.761,38.230044
41,2013-01-12,2013,1,NORDESTE,MARANHAO,GASOLINA COMUM,2.411,2.411000
216,2019-06-29,2019,6,NORDESTE,SERGIPE,ETANOL HIDRATADO,3.226,2.294044
120,2013-01-12,2013,1,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,2.534,2.534000
84,2013-01-12,2013,1,NORTE,AMAZONAS,GASOLINA COMUM,2.460,2.460000

In [14]:
cost_df[(cost_df['Macro Region'] == 'NORDESTE') & (cost_df['State'] == 'PIAUI')]

,Last Day of Week,Year,Month,Macro Region,State,Type of Product,Mean Distribution Price,Adjusted Mean Distribution Price
57,2013-01-12,2013,1,NORDESTE,PIAUI,ETANOL HIDRATADO,2.141,2.141000
58,2013-01-12,2013,1,NORDESTE,PIAUI,GASOLINA COMUM,2.305,2.305000
59,2013-01-12,2013,1,NORDESTE,PIAUI,GLP,33.212,33.212000
60,2013-01-12,2013,1,NORDESTE,PIAUI,ÓLEO DIESEL,1.980,1.980000
61,2013-01-12,2013,1,NORDESTE,PIAUI,ÓLEO DIESEL S10,1.945,1.945000
205,2019-06-29,2019,6,NORDESTE,PIAUI,ETANOL HIDRATADO,3.029,2.153956
206,2019-06-29,2019,6,NORDESTE,PIAUI,GASOLINA COMUM,4.031,2.866489
207,2019-06-29,2019,6,NORDESTE,PIAUI,GLP,55.769,39.657956
208,2019-06-29,2019,6,NORDESTE,PIAUI,ÓLEO DIESEL,3.222,2.291200
209,2019-06-29,2019,6,NORDESTE,PIAUI,ÓLEO DIESEL S10,3.243,2.306133