In [17]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import psycopg2 as pg2

from dotenv import load_dotenv

import query_strings

In [2]:
%load_ext dotenv
%dotenv

%reload_ext autoreload
%autoreload 2

In [3]:
load_dotenv()

True

In [4]:
conn = pg2.connect(
    database = os.getenv('POSTGRES_DATABASE'), 
    user = os.getenv('POSTGRES_USER'), 
    password = os.getenv('POSTGRES_PASSWORD')
)

In [5]:
cur = conn.cursor()

In [6]:
cur.execute(query_strings.city_subcategory_sale_counts)

In [7]:
city_subcat_sales_df = pd.DataFrame(data = cur.fetchall())

In [9]:
cur.execute(query_strings.sales_info_city)

In [10]:
sales_info_city_df = pd.DataFrame(data = cur.fetchall())

In [11]:
sales_info_city_df.head()

         0    1           2         3
0  Toronto  176  5034269.59  28603.80
1   London  756  3071176.64   4062.40
2    Paris  575  2233808.20   3884.88
3  Seattle  134  1767307.65  13188.86
4  Burnaby   98  1503463.85  15341.47