In [1]:
import numpy as np
import pandas as pd

In [2]:
nyc_detailed = pd.read_csv('../../data/dataxp/airbnb/raw_data/nyc_detailed_listings.csv')
nyc_listings = pd.read_csv('../../data/dataxp/airbnb/raw_data/nyc_listings.csv')

In [3]:
nyc_detailed.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20210804005827,2021-08-04,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,4.79,4.86,4.41,NaN,f,3,3,0,0,0.34
1,3831,https://www.airbnb.com/rooms/3831,20210804005827,2021-08-04,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,...,4.81,4.72,4.65,NaN,f,1,1,0,0,5.09
2,5121,https://www.airbnb.com/rooms/5121,20210804005827,2021-08-04,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,4.91,4.47,4.52,NaN,f,1,0,1,0,0.55
3,5136,https://www.airbnb.com/rooms/5136,20210804005827,2021-08-04,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,...,5.00,4.00,5.00,NaN,f,1,1,0,0,0.01
4,5178,https://www.airbnb.com/rooms/5178,20210804005827,2021-08-04,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,...,4.40,4.86,4.35,NaN,f,1,0,1,0,3.63

In [4]:
nyc_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.34,3,341,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,408,2021-06-29,5.09,1,212,68,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.55,1,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,1,2014-01-02,0.01,1,184,0,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,2,485,2021-07-18,3.63,1,255,12,NaN

## Preparing the Data

The purpose of this analysis is to guide homeowners in New York City to a price if they decide to list their residence on AirBNB. We will select the relevant data from both `.csv` files, merge them to one DataFrame, and then clean the data as necessary.

In [5]:
nyc_detailed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36724 non-null  int64
 1   listing_url                                   36724 non-null  object
 2   scrape_id                                     36724 non-null  int64
 3   last_scraped                                  36724 non-null  object
 4   name                                          36711 non-null  object
 5   description                                   35488 non-null  object
 6   neighborhood_overview                         22591 non-null  object
 7   picture_url                                   36724 non-null  object
 8   host_id                                       36724 non-null  int64
 9   host_url                                      36724 non-null  object
 10  host_name                                     36701 non-null  object
 11  host_since                                    36701 non-null  object
 12  host_location                                 36605 non-null  object
 13  host_about                                    21692 non-null  object
 14  host_response_time                            21048 non-null  object
 15  host_response_rate                            21048 non-null  object
 16  host_acceptance_rate                          21538 non-null  object
 17  host_is_superhost                             36701 non-null  object
 18  host_thumbnail_url                            36701 non-null  object
 19  host_picture_url                              36701 non-null  object
 20  host_neighbourhood                            29853 non-null  object
 21  host_listings_count                           36701 non-null  float64
 22  host_total_listings_count                     36701 non-null  float64
 23  host_verifications                            36724 non-null  object
 24  host_has_profile_pic                          36701 non-null  object
 25  host_identity_verified                        36701 non-null  object
 26  neighbourhood                                 22592 non-null  object
 27  neighbourhood_cleansed                        36724 non-null  object
 28  neighbourhood_group_cleansed                  36724 non-null  object
 29  latitude                                      36724 non-null  float64
 30  longitude                                     36724 non-null  float64
 31  property_type                                 36724 non-null  object
 32  room_type                                     36724 non-null  object
 33  accommodates                                  36724 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                36615 non-null  object
 36  bedrooms                                      32855 non-null  float64
 37  beds                                          36130 non-null  float64
 38  amenities                                     36724 non-null  object
 39  price                                         36724 non-null  object
 40  minimum_nights                                36724 non-null  int64
 41  maximum_nights                                36724 non-null  int64
 42  minimum_minimum_nights                        36707 non-null  float64
 43  maximum_minimum_nights                        36707 non-null  float64
 44  minimum_maximum_nights                        36707 non-null  float64
 45  maximum_maximum_nights                        36707 non-null  float64
 46  minimum_nights_avg_ntm                        36707 non-null  float64
 47  maximum_nights_avg_ntm                        36707 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              36724 non-null  object
 50  availability_30                               36724 non-null  int64
 51  availability_60                               36724 non-null  int64
 52  availability_90                               36724 non-null  int64
 53  availability_365                              36724 non-null  int64
 54  calendar_last_scraped                         36724 non-null  object
 55  number_of_reviews                             36724 non-null  int64
 56  number_of_reviews_ltm                         36724 non-null  int64
 57  number_of_reviews_l30d                        36724 non-null  int64
 58  first_review                                  27309 non-null  object
 59  last_review                                   27309 non-null  object
 60  review_scores_rating                          27309 non-null  float64
 61  review_scores_accuracy                        26661 non-null  float64
 62  review_scores_cleanliness                     26672 non-null  float64
 63  review_scores_checkin                         26653 non-null  float64
 64  review_scores_communication                   26664 non-null  float64
 65  review_scores_location                        26649 non-null  float64
 66  review_scores_value                           26649 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              36724 non-null  object
 69  calculated_host_listings_count                36724 non-null  int64
 70  calculated_host_listings_count_entire_homes   36724 non-null  int64
 71  calculated_host_listings_count_private_rooms  36724 non-null  int64
 72  calculated_host_listings_count_shared_rooms   36724 non-null  int64
 73  reviews_per_month                             27309 non-null  float64
dtypes: float64(23), int64(17), object(34)
memory usage: 20.7+ MB

In [6]:
nyc_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  int64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews               36724 non-null  int64
 12  last_review                     27309 non-null  object
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  number_of_reviews_ltm           36724 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(4), int64(8), object(6)
memory usage: 5.0+ MB

## Choosing Which Columns to Add to `nyc_listings`

The following columns from `nyc_detailed` may be useful for analysis.
* host_response_time
* host_response_rate
* host_has_profile_pic
* property_type
* bedrooms
* bathrooms_text (notice that bathrooms has 0 non-null values.)
* description (may be helpful for NLP)
* accommodates (number of people that the listing can hold)
* amenities
* maximum_nights
* review_scores_rating
* review_scores_cleanliness
* review_scores_value
* review_scores_communication
* instant_bookable (Whether the guest can automatically book the listing without the host requiring to accept their booking request. An indicator of a commercial listing.)

In [7]:
keep_columns = [
    'id', # This is likely the column on which to merge.
    'last_scraped',
    'host_response_time',
    'host_response_rate',
    'host_has_profile_pic',
    'property_type',
    'bedrooms',
    'bathrooms_text',
    'description',
    'accommodates',
    'amenities',
    'maximum_nights',
    'review_scores_rating',
    'review_scores_cleanliness',
    'review_scores_value',
    'review_scores_communication',
    'instant_bookable'
]

In [8]:
# Make sure that the columns are equal prior to merging.

nyc_detailed['id'].equals(nyc_listings['id'])

True

In [9]:
nyc_merged = nyc_listings.merge(nyc_detailed[keep_columns], on = 'id')
nyc_merged.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,bathrooms_text,description,accommodates,amenities,maximum_nights,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication,instant_bookable
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,...,1 bath,"Beautiful, spacious skylit studio in the heart...",1,"[""Essentials"", ""Extra pillows and blankets"", ""...",1125,4.70,4.62,4.41,4.79,f
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,...,1 bath,"Enjoy 500 s.f. top floor in 1899 brownstone, w...",3,"[""Essentials"", ""TV with standard cable"", ""Baby...",730,4.46,4.50,4.65,4.81,f
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,...,NaN,<b>The space</b><br />HELLO EVERYONE AND THANK...,2,"[""Long term stays allowed"", ""Air conditioning""...",730,4.52,4.09,4.52,4.91,f
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,...,1.5 baths,We welcome you to stay in our lovely 2 br dupl...,4,"[""TV with standard cable"", ""Long term stays al...",1125,5.00,5.00,5.00,5.00,f
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,...,1 bath,Please don’t expect the luxury here just a bas...,2,"[""Essentials"", ""Free street parking"", ""TV"", ""W...",14,4.20,3.71,4.35,4.40,f

In [10]:
nyc_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36724 entries, 0 to 36723
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  int64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews               36724 non-null  int64
 12  last_review                     27309 non-null  object
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  number_of_reviews_ltm           36724 non-null  int64
 17  license                         0 non-null      float64
 18  last_scraped                    36724 non-null  object
 19  host_response_time              21048 non-null  object
 20  host_response_rate              21048 non-null  object
 21  host_has_profile_pic            36701 non-null  object
 22  property_type                   36724 non-null  object
 23  bedrooms                        32855 non-null  float64
 24  bathrooms_text                  36615 non-null  object
 25  description                     35488 non-null  object
 26  accommodates                    36724 non-null  int64
 27  amenities                       36724 non-null  object
 28  maximum_nights                  36724 non-null  int64
 29  review_scores_rating            27309 non-null  float64
 30  review_scores_cleanliness       26672 non-null  float64
 31  review_scores_value             26649 non-null  float64
 32  review_scores_communication     26664 non-null  float64
 33  instant_bookable                36724 non-null  object
dtypes: float64(9), int64(10), object(15)
memory usage: 9.8+ MB

In [11]:
nyc_merged.drop(
    ['last_review', 'license', 'calculated_host_listings_count', 'host_name', 'availability_365'],
    axis = 1,
    inplace = True
)

## Cleaning the `bathrooms_text` column.

We will create a new column called `private_bath`, and remove the text from the `bathrooms_text` column.

In [12]:
nyc_merged['bathrooms_text'].value_counts()

1 bath               19030
1 shared bath         9126
1 private bath        2260
2 baths               2169
2 shared baths        1115
1.5 baths             1002
1.5 shared baths       706
2.5 baths              293
3 baths                213
0 shared baths         135
3 shared baths         114
2.5 shared baths        92
3.5 baths               75
4 baths                 61
0 baths                 49
4 shared baths          39
Half-bath               37
4.5 baths               21
Shared half-bath        17
Private half-bath       17
5 baths                  8
5.5 baths                6
6 baths                  6
6 shared baths           5
5 shared baths           4
8 baths                  3
3.5 shared baths         3
4.5 shared baths         1
5.5 shared baths         1
7.5 baths                1
6.5 shared baths         1
6.5 baths                1
15.5 baths               1
7 shared baths           1
7 baths                  1
10 baths                 1
Name: bathrooms_text, dtype: int64

In [13]:
# Replaces everything with 'half-bath' in the name with .5
# Need to keep '.5 shared' for creating shared or private bathroom column.

nyc_merged['bathrooms_text'].replace(
    ['Half-bath', 'Private half-bath'], 
    value = 0.5, 
    inplace = True)

nyc_merged['bathrooms_text'].replace(
    'Shared half-bath', 
    value = '0.5 shared', 
    inplace = True)

In [14]:
nyc_merged['bathrooms_text'].value_counts()

1 bath              19030
1 shared bath        9126
1 private bath       2260
2 baths              2169
2 shared baths       1115
1.5 baths            1002
1.5 shared baths      706
2.5 baths             293
3 baths               213
0 shared baths        135
3 shared baths        114
2.5 shared baths       92
3.5 baths              75
4 baths                61
0.5                    54
0 baths                49
4 shared baths         39
4.5 baths              21
0.5 shared             17
5 baths                 8
6 baths                 6
5.5 baths               6
6 shared baths          5
5 shared baths          4
3.5 shared baths        3
8 baths                 3
15.5 baths              1
6.5 shared baths        1
4.5 shared baths        1
5.5 shared baths        1
7.5 baths               1
6.5 baths               1
7 shared baths          1
7 baths                 1
10 baths                1
Name: bathrooms_text, dtype: int64

In [15]:
# If the 'bathrooms_text' column contains the word 'shared', nyc_merged['private_bath'] = 0
# Else, nyc_merged['private_bath'] = 1

nyc_merged['private_bath'] = np.where(
    nyc_merged['bathrooms_text'].str.contains('shared'), 0, 1
)

In [16]:
# Check the above column creation

nyc_merged[['bathrooms_text', 'private_bath']].sample(10, random_state = 1)

       bathrooms_text  private_bath
2486           1 bath             1
5012          2 baths             1
31001          1 bath             1
19457          1 bath             1
12353   1 shared bath             0
28084          1 bath             1
18918  1 private bath             1
35660   1 shared bath             0
27605  1 private bath             1
27324   1 shared bath             0

In [17]:
nyc_merged['bathrooms_text'].isna().value_counts()

False    36615
True       109
Name: bathrooms_text, dtype: int64

In [18]:
# There are NaN values in the bathrooms_text column, so replace all values that are not NaN with the first entry of
# the split, which is always the number of bathrooms.

for ind in range(len(nyc_merged)): 
    if type(nyc_merged.at[ind, 'bathrooms_text']) != float:
        nyc_merged.at[ind, 'bathrooms_text'] = float(nyc_merged.at[ind, 'bathrooms_text'].split()[0])

In [19]:
# Checking the conversion.

nyc_merged[['bathrooms_text', 'private_bath']].value_counts()

bathrooms_text  private_bath
1.0             1               21290
                0                9126
2.0             1                2169
                0                1115
1.5             1                1002
                0                 706
2.5             1                 293
3.0             1                 213
0.0             0                 135
3.0             0                 114
2.5             0                  92
3.5             1                  75
0.5             0                  71
4.0             1                  61
0.0             1                  49
4.0             0                  39
4.5             1                  21
5.0             1                   8
6.0             1                   6
5.5             1                   6
6.0             0                   5
5.0             0                   4
8.0             1                   3
3.5             0                   3
5.5             0                   1
6.5             0                   1
                1                   1
7.0             0                   1
                1                   1
7.5             1                   1
4.5             0                   1
10.0            1                   1
15.5            1                   1
dtype: int64

In [20]:
# Renaming the 'bathrooms_text' to 'bathrooms'

nyc_merged.rename(columns = {'bathrooms_text': 'bathrooms'}, inplace = True)

## Cleaning the `descriptions` Column

We will have to take care with cleaning this column. This is because New York has train lines that are named with letters, so if we convert all words to lower case and want to remove stop words for description processing, we could lose valuable information about the A-train.

To counter this, we will replace all instances of A train with A-train in order to not lose information.

It is important to note that we may lose some information about listings with 'a train' in the description, if we decide to convert to . This is because the description could include text similar 'Popular destinations can be accessed by a train,' or 'The Met is easily accessible via train,' which do not specifically refer to the A-train.

Finally, the HTML tags will be removed from the descriptions as well.

Do note that there two different replace methods used here. One of which is the [pandas Series string replacement method](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html), and the other is the [built in Python string replacement method](https://docs.python.org/3/library/stdtypes.html#str.replace). All `.str.replace()` calls are instances of the pandas method, and `.replace()` is the built in Python method.

### A-train Cleaning

In [21]:
nyc_merged['description'].str.contains('a train').value_counts()

False    35412
True        76
Name: description, dtype: int64

In [22]:
nyc_merged['description'].str.contains('a line').value_counts()

False    35458
True        30
Name: description, dtype: int64

In [23]:
nyc_merged['description'].str.contains('via train').value_counts()

False    35469
True        19
Name: description, dtype: int64

In [24]:
nyc_merged['description'].str.contains('the a train').value_counts()

False    35488
Name: description, dtype: int64

In [25]:
nyc_merged['description'].str.contains('A train').value_counts()

False    35188
True       300
Name: description, dtype: int64

In [26]:
nyc_merged['description'].str.contains('A line').value_counts()

False    35477
True        11
Name: description, dtype: int64

In [27]:
nyc_merged['description'].str.contains('A-train').value_counts()

False    35467
True        21
Name: description, dtype: int64

In [28]:
# Replace all instances of 'A train' with 'A-Train' in a new pandas series.
# case = True makes sure that the search is case sensitive.

a_train_descriptions = nyc_merged['description'].str.replace(
    'A train',
    repl = 'A-train',
    case = True)

In [29]:
nyc_merged['description'].str.contains('A train').value_counts()

False    35188
True       300
Name: description, dtype: int64

In [30]:
nyc_merged['description'].str.contains('A-train').value_counts()

False    35467
True        21
Name: description, dtype: int64

In [31]:
a_train_descriptions.str.contains('A train').value_counts()

False    35488
Name: description, dtype: int64

In [32]:
a_train_descriptions.str.contains('A-train').value_counts()

False    35169
True       319
Name: description, dtype: int64

In [33]:
# Finding the indices that differ from both of the lists.

new_desc_ind = a_train_descriptions[a_train_descriptions.str.contains('A-train') == True].index
prev_desc_ind = nyc_merged[nyc_merged['description'].str.contains('A train') == True].index

# These are the indices that are in new_desc_ind but not in prev_desc_ind
ind_diffs = [ item for item in new_desc_ind if item not in prev_desc_ind ]

print (ind_diffs, '\n', len(ind_diffs))

[6509, 13585, 13586, 14992, 16105, 16228, 17653, 23007, 23130, 23204, 23205, 28350, 31348, 31354, 31356, 32038, 32632, 34338, 34364]
 19

In [34]:
# This lets us know that the columns that are additional 19 columns in ind_diffs have not changed the
# original description.

for ind in ind_diffs:
    print (True if a_train_descriptions.iloc[ind] == nyc_merged.iloc[ind]['description'] else False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [35]:
nyc_merged['description'] = a_train_descriptions

In [36]:
# Making sure we did not lose information with decriptions that contain 'a train'
# Notice that we receive the same number of True values prior to the column replacement.

nyc_merged['description'].str.contains('a train').value_counts()

False    35412
True        76
Name: description, dtype: int64

### Removing the HTML Tags

In [37]:
# Replace line breaks with a space, and replace bold tags with an empty string.
# Was having issues with some types of column being float.
# Replacing commas with a space will make the description less readable, but will ease the process of the Postgres import.

for ind in range(len(nyc_merged)):
    if type(nyc_merged.at[ind, 'description']) == str:
        nyc_merged.at[ind, 'description'] = nyc_merged.at[ind, 'description'].replace(
            '<br /><br />', ' '
        ).replace(
            '<br />', ' '
        ).replace(
            '<b>', ''
        ).replace(
            '</b>', ''
        ).replace(',', ' '
        )

## Cleaning the `bedrooms` Column

We will determine whether the rows with `NaN` values for bedrooms are likely to be studios or loft, and replace the values with 0 accordingly.

In [38]:
print (nyc_merged['property_type'].unique())

['Entire rental unit' 'Entire guest suite' 'Private room in rental unit'
 'Private room in townhouse' 'Private room in condominium (condo)'
 'Private room in loft' 'Entire loft' 'Private room in residential home'
 'Entire condominium (condo)' 'Entire residential home' 'Entire townhouse'
 'Private room in bed and breakfast' 'Entire guesthouse'
 'Private room in guest suite' 'Bus' 'Room in boutique hotel'
 'Shared room in loft' 'Shared room in rental unit'
 'Shared room in residential home' 'Private room' 'Private room in hostel'
 'Entire place' 'Private room in guesthouse' 'Boat'
 'Entire serviced apartment' 'Room in aparthotel'
 'Shared room in earth house' 'Floor' 'Shared room in hostel'
 'Room in serviced apartment' 'Entire cottage'
 'Shared room in condominium (condo)' 'Private room in serviced apartment'
 'Room in hotel' 'Private room in boat' 'Cave' 'Tiny house'
 'Private room in floor' 'Entire bungalow' 'Shared room in townhouse'
 'Houseboat' 'Private room in bungalow' 'Entire villa'
 'Private room in resort' 'Shared room in guest suite'
 'Private room in castle' 'Private room in villa' 'Shared room in floor'
 'Shared room in serviced apartment' 'Entire bed and breakfast'
 'Entire home/apt' 'Private room in tiny house' 'Private room in tent'
 'Private room in in-law' 'Private room in barn' 'Camper/RV'
 'Room in resort' 'Shared room in bed and breakfast'
 'Private room in farm stay' 'Private room in casa particular'
 'Private room in dorm' 'Room in bed and breakfast'
 'Private room in camper/rv' 'Shared room in island'
 'Shared room in bungalow' 'Private room in earth house'
 'Private room in cottage' 'Lighthouse' 'Private room in train' 'Barn'
 'Private room in lighthouse' 'Castle' 'Tent' 'Tower' 'Casa particular']

In [39]:
nyc_merged['bedrooms'].isna().value_counts()

False    32855
True      3869
Name: bedrooms, dtype: int64

In [40]:
nyc_merged[
    (nyc_merged['bedrooms'].isna() == True)
]['property_type'].value_counts()

Entire rental unit                     2726
Private room in rental unit             239
Room in hotel                           152
Entire condominium (condo)              117
Room in boutique hotel                  112
Entire loft                             109
Entire serviced apartment                60
Entire guest suite                       58
Private room in residential home         57
Entire residential home                  56
Room in aparthotel                       26
Entire townhouse                         25
Private room in townhouse                19
Private room in guest suite              17
Entire place                             16
Room in serviced apartment               12
Private room in condominium (condo)      10
Private room in resort                    9
Private room in loft                      8
Entire guesthouse                         8
Private room in serviced apartment        6
Entire bungalow                           5
Tiny house                                4
Boat                                      3
Private room                              2
Private room in tiny house                2
Camper/RV                                 2
Entire home/apt                           1
Room in bed and breakfast                 1
Private room in guesthouse                1
Bus                                       1
Houseboat                                 1
Barn                                      1
Private room in camper/rv                 1
Private room in earth house               1
Castle                                    1
Name: property_type, dtype: int64

In [41]:
nyc_merged[
    (nyc_merged['bedrooms'].isna() == True) &
    (nyc_merged['description'].str.contains('studio|loft|condo|condominium') == True)
]['property_type'].value_counts()

Entire rental unit                     1760
Entire loft                              81
Entire condominium (condo)               80
Entire guest suite                       41
Entire serviced apartment                40
Private room in rental unit              40
Room in boutique hotel                   37
Entire residential home                  27
Entire townhouse                         14
Room in aparthotel                       14
Entire place                             12
Private room in residential home         11
Room in serviced apartment                8
Private room in guest suite               7
Entire guesthouse                         4
Tiny house                                4
Private room in loft                      3
Room in hotel                             3
Private room in resort                    2
Private room in townhouse                 2
Private room                              1
Entire home/apt                           1
Private room in tiny house                1
Entire bungalow                           1
Private room in serviced apartment        1
Private room in earth house               1
Private room in condominium (condo)       1
Name: property_type, dtype: int64

In [42]:
nyc_merged[
    (nyc_merged['bedrooms'].isna() == True) &
    (nyc_merged['description'].str.contains('studio|loft|condo|condominium') == False)
]['property_type'].value_counts()

Entire rental unit                     900
Private room in rental unit            146
Room in hotel                          138
Room in boutique hotel                  49
Private room in residential home        31
Entire condominium (condo)              31
Entire residential home                 27
Entire loft                             24
Entire serviced apartment               18
Private room in townhouse               15
Entire guest suite                      15
Room in aparthotel                      12
Entire townhouse                        11
Private room in guest suite             10
Private room in condominium (condo)      8
Private room in resort                   6
Entire bungalow                          4
Entire guesthouse                        4
Entire place                             4
Private room in serviced apartment       4
Room in serviced apartment               3
Boat                                     3
Private room in loft                     2
Camper/RV                                2
Bus                                      1
Private room                             1
Private room in tiny house               1
Room in bed and breakfast                1
Houseboat                                1
Private room in camper/rv                1
Castle                                   1
Name: property_type, dtype: int64

In [43]:
# By visual inspection, it appears that there will be little information lost if all NaN values for bedrooms
# are replaced with 0.

nyc_merged['bedrooms'].fillna(0, inplace = True)

nyc_merged['bedrooms'].value_counts()

1.0     25375
2.0      5133
0.0      3869
3.0      1679
4.0       491
5.0       108
6.0        32
8.0        16
7.0        11
9.0         4
10.0        3
14.0        1
11.0        1
13.0        1
Name: bedrooms, dtype: int64

### Cleaning the `host` Related Column Information

In [44]:
nyc_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36724 entries, 0 to 36723
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           36724 non-null  int64
 1   name                         36711 non-null  object
 2   host_id                      36724 non-null  int64
 3   neighbourhood_group          36724 non-null  object
 4   neighbourhood                36724 non-null  object
 5   latitude                     36724 non-null  float64
 6   longitude                    36724 non-null  float64
 7   room_type                    36724 non-null  object
 8   price                        36724 non-null  int64
 9   minimum_nights               36724 non-null  int64
 10  number_of_reviews            36724 non-null  int64
 11  reviews_per_month            27309 non-null  float64
 12  number_of_reviews_ltm        36724 non-null  int64
 13  last_scraped                 36724 non-null  object
 14  host_response_time           21048 non-null  object
 15  host_response_rate           21048 non-null  object
 16  host_has_profile_pic         36701 non-null  object
 17  property_type                36724 non-null  object
 18  bedrooms                     36724 non-null  float64
 19  bathrooms                    36615 non-null  object
 20  description                  35488 non-null  object
 21  accommodates                 36724 non-null  int64
 22  amenities                    36724 non-null  object
 23  maximum_nights               36724 non-null  int64
 24  review_scores_rating         27309 non-null  float64
 25  review_scores_cleanliness    26672 non-null  float64
 26  review_scores_value          26649 non-null  float64
 27  review_scores_communication  26664 non-null  float64
 28  instant_bookable             36724 non-null  object
 29  private_bath                 36724 non-null  int64
dtypes: float64(8), int64(9), object(13)
memory usage: 9.7+ MB

In [45]:
nyc_merged['host_response_time'].value_counts()

within an hour        10319
within a few hours     4772
within a day           3839
a few days or more     2118
Name: host_response_time, dtype: int64

In [46]:
nyc_merged['host_response_time'].isna().value_counts()

False    21048
True     15676
Name: host_response_time, dtype: int64

In [47]:
nyc_merged['host_response_rate'].dtypes

dtype('O')

In [48]:
nyc_merged['host_has_profile_pic'].value_counts()

t    36545
f      156
Name: host_has_profile_pic, dtype: int64

In [49]:
# There are NA vales for this column. We are going to assume that if the value for this column is NA,
# then the host does not have a profile picture.

# Replaces 't' values with 1 indicating that the host does have a profile picture. Otherwise, 0 will represent
# no profile picture.

nyc_merged['host_has_profile_pic'] = np.where(
    nyc_merged['host_has_profile_pic'] == 't', 1, 0
)

In [50]:
nyc_merged['host_has_profile_pic'].value_counts()

1    36545
0      179
Name: host_has_profile_pic, dtype: int64

In [51]:
nyc_merged['host_response_rate'].isna().value_counts()

False    21048
True     15676
Name: host_response_rate, dtype: int64

In [52]:
nyc_merged['host_response_rate'].value_counts()

100%    11579
0%       1155
99%       860
90%       823
97%       600
        ...
24%         2
32%         1
66%         1
12%         1
28%         1
Name: host_response_rate, Length: 90, dtype: int64

In [53]:
for ind in range(len(nyc_merged)):
    
    # If the type is a string, then we know the column has a percent sign.
    # So, remove the percent sign at the end of the string.
    
    if (type(nyc_merged.at[ind, 'host_response_rate']) == str):
        nyc_merged.at[ind, 'host_response_rate'] = int(nyc_merged.at[ind, 'host_response_rate'][0:-1])

In [54]:
# Checking the column update

nyc_merged['host_response_rate'].value_counts()

100    11579
0       1155
99       860
90       823
97       600
       ...
24         2
32         1
66         1
12         1
28         1
Name: host_response_rate, Length: 90, dtype: int64

## Cleaning the `amenities` Column.

In [55]:
# Remove unnecessary double quotes, remove the brackets from the string, then split by comma-space.

for ind in range (len(nyc_merged)):
    nyc_merged.at[ind, 'amenities'] = nyc_merged['amenities'][ind].replace('"', '').strip('][').split(', ')

## Cleaning the `instant_bookable` Column

From the Airbnb data dictionary, the `instant_bookable` column indicates the following.

"Whether the guest can automatically book the listring without the host requiring to accept their booking request. An indicator of a commercial listing."

So, this column allows us to differentiate between commercial and non-commercial listing.

In [56]:
# Replace 't' with 1, indicating a commercial listing, otherwise, 0 will represent a listing that is not commercial.

nyc_merged['instant_bookable'] = np.where(
    nyc_merged['instant_bookable'] == 't', 1, 0
)

In [57]:
# Checking the replacement.

nyc_merged['instant_bookable'].value_counts()

0    26967
1     9757
Name: instant_bookable, dtype: int64

### Rearranging the Columns

In [58]:
new_col_order = [
 'id',
 'name',
 'host_id',
 'last_scraped',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'number_of_reviews_ltm',
 'host_response_time',
 'host_response_rate',
 'host_has_profile_pic',
 'property_type',
 'bedrooms',
 'bathrooms',
 'private_bath',
 'description',
 'accommodates',
 'amenities',
 'maximum_nights',
 'review_scores_rating',
 'review_scores_cleanliness',
 'review_scores_value',
 'review_scores_communication',
 'instant_bookable',
]

nyc_merged = nyc_merged[new_col_order]

In [59]:
nyc_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36724 entries, 0 to 36723
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           36724 non-null  int64
 1   name                         36711 non-null  object
 2   host_id                      36724 non-null  int64
 3   last_scraped                 36724 non-null  object
 4   neighbourhood_group          36724 non-null  object
 5   neighbourhood                36724 non-null  object
 6   latitude                     36724 non-null  float64
 7   longitude                    36724 non-null  float64
 8   room_type                    36724 non-null  object
 9   price                        36724 non-null  int64
 10  minimum_nights               36724 non-null  int64
 11  number_of_reviews            36724 non-null  int64
 12  reviews_per_month            27309 non-null  float64
 13  number_of_reviews_ltm        36724 non-null  int64
 14  host_response_time           21048 non-null  object
 15  host_response_rate           21048 non-null  object
 16  host_has_profile_pic         36724 non-null  int64
 17  property_type                36724 non-null  object
 18  bedrooms                     36724 non-null  float64
 19  bathrooms                    36615 non-null  object
 20  private_bath                 36724 non-null  int64
 21  description                  35488 non-null  object
 22  accommodates                 36724 non-null  int64
 23  amenities                    36724 non-null  object
 24  maximum_nights               36724 non-null  int64
 25  review_scores_rating         27309 non-null  float64
 26  review_scores_cleanliness    26672 non-null  float64
 27  review_scores_value          26649 non-null  float64
 28  review_scores_communication  26664 non-null  float64
 29  instant_bookable             36724 non-null  int64
dtypes: float64(8), int64(11), object(11)
memory usage: 9.7+ MB

### Saving the DataFrame

In [60]:
# Commented out to prevent overwriting in the event of rerunning the kernel.

# nyc_merged.to_csv(path_or_buf = '../../data/dataxp/airbnb/cleaned_data/nyc_listings_cleaned.csv')