In [1]:
import numpy as np
import pandas as pd

In [2]:
nyc_detailed = pd.read_csv('../../data/dataxp/airbnb/nyc_detailed_listings.csv')
nyc_listings = pd.read_csv('../../data/dataxp/airbnb/nyc_listings.csv')

In [3]:
nyc_detailed.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20210804005827,2021-08-04,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,4.79,4.86,4.41,NaN,f,3,3,0,0,0.34
1,3831,https://www.airbnb.com/rooms/3831,20210804005827,2021-08-04,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,...,4.81,4.72,4.65,NaN,f,1,1,0,0,5.09
2,5121,https://www.airbnb.com/rooms/5121,20210804005827,2021-08-04,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,4.91,4.47,4.52,NaN,f,1,0,1,0,0.55
3,5136,https://www.airbnb.com/rooms/5136,20210804005827,2021-08-04,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,...,5.00,4.00,5.00,NaN,f,1,1,0,0,0.01
4,5178,https://www.airbnb.com/rooms/5178,20210804005827,2021-08-04,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,...,4.40,4.86,4.35,NaN,f,1,0,1,0,3.63

In [4]:
nyc_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.34,3,341,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,408,2021-06-29,5.09,1,212,68,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.55,1,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,1,2014-01-02,0.01,1,184,0,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,2,485,2021-07-18,3.63,1,255,12,NaN

## Preparing the Data

The purpose of this analysis is to guide homeowners in New York City to a price if they decide to list their residence on AirBNB. We will select the relevant data from both `.csv` files, merge them to one DataFrame, and then clean the data as necessary.

In [5]:
nyc_detailed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36724 non-null  int64
 1   listing_url                                   36724 non-null  object
 2   scrape_id                                     36724 non-null  int64
 3   last_scraped                                  36724 non-null  object
 4   name                                          36711 non-null  object
 5   description                                   35488 non-null  object
 6   neighborhood_overview                         22591 non-null  object
 7   picture_url                                   36724 non-null  object
 8   host_id                                       36724 non-null  int64
 9   host_url                                      36724 non-null  object
 10  host_name                                     36701 non-null  object
 11  host_since                                    36701 non-null  object
 12  host_location                                 36605 non-null  object
 13  host_about                                    21692 non-null  object
 14  host_response_time                            21048 non-null  object
 15  host_response_rate                            21048 non-null  object
 16  host_acceptance_rate                          21538 non-null  object
 17  host_is_superhost                             36701 non-null  object
 18  host_thumbnail_url                            36701 non-null  object
 19  host_picture_url                              36701 non-null  object
 20  host_neighbourhood                            29853 non-null  object
 21  host_listings_count                           36701 non-null  float64
 22  host_total_listings_count                     36701 non-null  float64
 23  host_verifications                            36724 non-null  object
 24  host_has_profile_pic                          36701 non-null  object
 25  host_identity_verified                        36701 non-null  object
 26  neighbourhood                                 22592 non-null  object
 27  neighbourhood_cleansed                        36724 non-null  object
 28  neighbourhood_group_cleansed                  36724 non-null  object
 29  latitude                                      36724 non-null  float64
 30  longitude                                     36724 non-null  float64
 31  property_type                                 36724 non-null  object
 32  room_type                                     36724 non-null  object
 33  accommodates                                  36724 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                36615 non-null  object
 36  bedrooms                                      32855 non-null  float64
 37  beds                                          36130 non-null  float64
 38  amenities                                     36724 non-null  object
 39  price                                         36724 non-null  object
 40  minimum_nights                                36724 non-null  int64
 41  maximum_nights                                36724 non-null  int64
 42  minimum_minimum_nights                        36707 non-null  float64
 43  maximum_minimum_nights                        36707 non-null  float64
 44  minimum_maximum_nights                        36707 non-null  float64
 45  maximum_maximum_nights                        36707 non-null  float64
 46  minimum_nights_avg_ntm                        36707 non-null  float64
 47  maximum_nights_avg_ntm                        36707 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              36724 non-null  object
 50  availability_30                               36724 non-null  int64
 51  availability_60                               36724 non-null  int64
 52  availability_90                               36724 non-null  int64
 53  availability_365                              36724 non-null  int64
 54  calendar_last_scraped                         36724 non-null  object
 55  number_of_reviews                             36724 non-null  int64
 56  number_of_reviews_ltm                         36724 non-null  int64
 57  number_of_reviews_l30d                        36724 non-null  int64
 58  first_review                                  27309 non-null  object
 59  last_review                                   27309 non-null  object
 60  review_scores_rating                          27309 non-null  float64
 61  review_scores_accuracy                        26661 non-null  float64
 62  review_scores_cleanliness                     26672 non-null  float64
 63  review_scores_checkin                         26653 non-null  float64
 64  review_scores_communication                   26664 non-null  float64
 65  review_scores_location                        26649 non-null  float64
 66  review_scores_value                           26649 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              36724 non-null  object
 69  calculated_host_listings_count                36724 non-null  int64
 70  calculated_host_listings_count_entire_homes   36724 non-null  int64
 71  calculated_host_listings_count_private_rooms  36724 non-null  int64
 72  calculated_host_listings_count_shared_rooms   36724 non-null  int64
 73  reviews_per_month                             27309 non-null  float64
dtypes: float64(23), int64(17), object(34)
memory usage: 20.7+ MB

In [6]:
nyc_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  int64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews               36724 non-null  int64
 12  last_review                     27309 non-null  object
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  number_of_reviews_ltm           36724 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(4), int64(8), object(6)
memory usage: 5.0+ MB

## Choosing Which Columns to Add to `nyc_listings`

The following columns from `nyc_detailed` may be useful for analysis.
* host_response_time
* host_response_rate
* host_has_profile_pic
* property_type
* bedrooms
* bathrooms_text (notice that bathrooms has 0 non-null values.)
* description (may be helpful for NLP)
* accommodates (number of people that the listing can hold)
* amenities
* maximum_nights
* number_of_reviews
* review_scores_rating
* review_scores_cleanliness
* review_scores_value
* review_scores_communication
* instant_bookable (Whether the guest can automatically book the listing without the host requiring to accept their booking request. An indicator of a commercial listing.)

In [7]:
keep_columns = [
    'id', # This is likely the column on which to merge.
    'host_response_time',
    'host_response_rate',
    'host_has_profile_pic',
    'property_type',
    'bedrooms',
    'bathrooms_text',
    'description',
    'accommodates',
    'amenities',
    'maximum_nights',
    'number_of_reviews',
    'review_scores_rating',
    'review_scores_cleanliness',
    'review_scores_value',
    'review_scores_communication'
]

In [8]:
# Make sure that the columns are equal prior to merging.

nyc_detailed['id'].equals(nyc_listings['id'])

True

In [9]:
nyc_merged = nyc_listings.merge(nyc_detailed[keep_columns], on = 'id')
nyc_merged.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,bathrooms_text,description,accommodates,amenities,maximum_nights,number_of_reviews_y,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,...,1 bath,"Beautiful, spacious skylit studio in the heart...",1,"[""Essentials"", ""Extra pillows and blankets"", ""...",1125,48,4.70,4.62,4.41,4.79
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,...,1 bath,"Enjoy 500 s.f. top floor in 1899 brownstone, w...",3,"[""Essentials"", ""TV with standard cable"", ""Baby...",730,408,4.46,4.50,4.65,4.81
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,...,NaN,<b>The space</b><br />HELLO EVERYONE AND THANK...,2,"[""Long term stays allowed"", ""Air conditioning""...",730,50,4.52,4.09,4.52,4.91
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,...,1.5 baths,We welcome you to stay in our lovely 2 br dupl...,4,"[""TV with standard cable"", ""Long term stays al...",1125,1,5.00,5.00,5.00,5.00
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,...,1 bath,Please don’t expect the luxury here just a bas...,2,"[""Essentials"", ""Free street parking"", ""TV"", ""W...",14,485,4.20,3.71,4.35,4.40

In [10]:
nyc_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36724 entries, 0 to 36723
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  int64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews_x             36724 non-null  int64
 12  last_review                     27309 non-null  object
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  number_of_reviews_ltm           36724 non-null  int64
 17  license                         0 non-null      float64
 18  host_response_time              21048 non-null  object
 19  host_response_rate              21048 non-null  object
 20  host_has_profile_pic            36701 non-null  object
 21  property_type                   36724 non-null  object
 22  bedrooms                        32855 non-null  float64
 23  bathrooms_text                  36615 non-null  object
 24  description                     35488 non-null  object
 25  accommodates                    36724 non-null  int64
 26  amenities                       36724 non-null  object
 27  maximum_nights                  36724 non-null  int64
 28  number_of_reviews_y             36724 non-null  int64
 29  review_scores_rating            27309 non-null  float64
 30  review_scores_cleanliness       26672 non-null  float64
 31  review_scores_value             26649 non-null  float64
 32  review_scores_communication     26664 non-null  float64
dtypes: float64(9), int64(11), object(13)
memory usage: 9.5+ MB

## Checking NaN values for Bedrooms

In [11]:
nyc_merged[
    (nyc_merged['bedrooms'].isna()) & 
    (nyc_merged['description'].str.contains('studio|loft')) 
]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,bathrooms_text,description,accommodates,amenities,maximum_nights,number_of_reviews_y,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,...,1 bath,"Beautiful, spacious skylit studio in the heart...",1,"[""Essentials"", ""Extra pillows and blankets"", ""...",1125,48,4.70,4.62,4.41,4.79
7,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,89,...,1 bath,Comfortable studio apartment with super comfor...,3,"[""Essentials"", ""Dishwasher"", ""Extra pillows an...",730,181,4.56,4.86,4.56,4.80
13,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.717780,-73.956800,Entire home/apt,299,...,1 bath,A true open-plan loft in a repurposed factory ...,4,"[""Essentials"", ""TV with standard cable"", ""Long...",90,9,4.86,4.40,4.80,4.60
15,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.767240,-73.986640,Entire home/apt,150,...,1 bath,"HELLO. PLEASE DO NOT HIT ""REQUEST TO BOOK"". H...",2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,58,4.52,4.16,4.58,5.00
72,31555,Luminous Beautiful West Village Studio,135619,Tom,Manhattan,West Village,40.734050,-74.002810,Entire home/apt,135,...,1 bath,"Wonderfully bright, nicely furnished 400-squar...",2,"[""Essentials"", ""TV with standard cable"", ""Cabl...",59,32,4.71,4.41,4.69,4.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36567,51330421,The Hunter III,61391963,Stay With Vibe,Manhattan,Upper East Side,40.769048,-73.960290,Entire home/apt,99,...,1 bath,Welcome to The Hunter. This is a sophisticated...,2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN
36579,51335945,Cozy flat near Grand Central Station,7896850,Roger,Manhattan,Midtown,40.747465,-73.986742,Entire home/apt,190,...,1 bath,This wonderful apartment is located on a prime...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",31,0,NaN,NaN,NaN,NaN
36668,51391003,Lovely Spacious Studio Apartment!,368355769,Ngajo,Queens,Elmhurst,40.747739,-73.873867,Entire home/apt,153,...,1 bath,The whole group will enjoy easy access to ever...,16,"[""Long term stays allowed"", ""TV"", ""Free parkin...",365,0,NaN,NaN,NaN,NaN
36718,51447187,The Hunter IIIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.767841,-73.958164,Entire home/apt,125,...,1 bath,Welcome to The Hunter. This is a sophisticated...,2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,...,1 bath,Welcome to The Hunter. This is a sophisticated...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN

In [12]:
nyc_merged[
    (nyc_merged['bedrooms'].isna()) & 
    (nyc_merged['description'].str.contains('studio|loft') == False)
]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,bathrooms_text,description,accommodates,amenities,maximum_nights,number_of_reviews_y,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication
65,27883,East Village Sanctuary,120223,Jen,Manhattan,East Village,40.724210,-73.985090,Entire home/apt,100,...,1 bath,"Sorry, this listing is no longer available.",3,"[""TV with standard cable"", ""Long term stays al...",365,25,4.85,4.79,4.74,4.89
138,61167,NO LONGER AVAILABLE,295760,Greta,Manhattan,Chinatown,40.717990,-73.996480,Entire home/apt,175,...,0 baths,An architect and builder couple live full time...,1,"[""Essentials"", ""Long term stays allowed"", ""Wif...",730,21,4.59,4.32,4.53,4.74
257,140133,Truly Amazing Oasis In The City,622866,Daniel,Brooklyn,Williamsburg,40.713470,-73.960350,Entire home/apt,249,...,1 bath,"You will not find a more convenient, clean, tr...",4,"[""Essentials"", ""Backyard"", ""Extra pillows and ...",180,172,4.92,4.91,4.84,4.95
261,142069,"EAST VILLAGE STUDIO, sunny & quiet",277747,Josh,Manhattan,East Village,40.725060,-73.979060,Entire home/apt,100,...,1 bath,"Cozy, quiet, comfortable and modern with a hea...",2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",730,22,4.60,3.62,4.48,4.86
296,171562,Chelsea studio with balcony & views,60923,Omri,Manhattan,Chelsea,40.749370,-73.994670,Entire home/apt,215,...,1 bath,<b>The space</b><br />Stay in the middle of it...,2,"[""Essentials"", ""Dishwasher"", ""Extra pillows an...",60,20,4.82,4.70,4.60,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36705,51432466,Luxury Condo heart of Manhattan,194274,Vicky,Manhattan,Chelsea,40.745830,-73.991174,Entire home/apt,255,...,1 bath,Luxury Condo in the heart of the city. Close t...,2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",48,0,NaN,NaN,NaN,NaN
36707,51439915,"Comfy and Spacious Studio, Amazing Location",37046945,SoCo Property,Brooklyn,Boerum Hill,40.687338,-73.981322,Entire home/apt,160,...,1 bath,One of four units in a stellar location in For...,2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN
36714,51445038,#6 2DS Furnished Studio Rentals,395671107,Esplanade 99,Manhattan,Upper West Side,40.797730,-73.972100,Private room,69,...,3 shared baths,"Extended stay hotel , fully furnished private ...",2,"[""Essentials"", ""Heating"", ""Dryer"", ""Long term ...",120,0,NaN,NaN,NaN,NaN
36715,51445453,Apartment Deluxe #4,177174475,Alberto,Manhattan,Midtown,40.748474,-73.987147,Entire home/apt,183,...,1 bath,THE APARTMENT<br /><br />Studio apartment suit...,6,"[""Essentials"", ""Long term stays allowed"", ""TV""...",28,0,NaN,NaN,NaN,NaN
36716,51445654,Studio Exterior #5,345231956,Alberto,Manhattan,Midtown,40.748289,-73.987246,Entire home/apt,129,...,1 bath,THE APARTMENT<br /><br />Studio apartment suit...,5,"[""Essentials"", ""Crib"", ""Heating"", ""Dryer"", ""Mi...",28,0,NaN,NaN,NaN,NaN

In [13]:
nyc_merged[nyc_merged['bedrooms'].isna()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,bathrooms_text,description,accommodates,amenities,maximum_nights,number_of_reviews_y,review_scores_rating,review_scores_cleanliness,review_scores_value,review_scores_communication
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,...,1 bath,"Beautiful, spacious skylit studio in the heart...",1,"[""Essentials"", ""Extra pillows and blankets"", ""...",1125,48,4.70,4.62,4.41,4.79
7,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,89,...,1 bath,Comfortable studio apartment with super comfor...,3,"[""Essentials"", ""Dishwasher"", ""Extra pillows an...",730,181,4.56,4.86,4.56,4.80
13,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.717780,-73.956800,Entire home/apt,299,...,1 bath,A true open-plan loft in a repurposed factory ...,4,"[""Essentials"", ""TV with standard cable"", ""Long...",90,9,4.86,4.40,4.80,4.60
15,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.767240,-73.986640,Entire home/apt,150,...,1 bath,"HELLO. PLEASE DO NOT HIT ""REQUEST TO BOOK"". H...",2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,58,4.52,4.16,4.58,5.00
65,27883,East Village Sanctuary,120223,Jen,Manhattan,East Village,40.724210,-73.985090,Entire home/apt,100,...,1 bath,"Sorry, this listing is no longer available.",3,"[""TV with standard cable"", ""Long term stays al...",365,25,4.85,4.79,4.74,4.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36714,51445038,#6 2DS Furnished Studio Rentals,395671107,Esplanade 99,Manhattan,Upper West Side,40.797730,-73.972100,Private room,69,...,3 shared baths,"Extended stay hotel , fully furnished private ...",2,"[""Essentials"", ""Heating"", ""Dryer"", ""Long term ...",120,0,NaN,NaN,NaN,NaN
36715,51445453,Apartment Deluxe #4,177174475,Alberto,Manhattan,Midtown,40.748474,-73.987147,Entire home/apt,183,...,1 bath,THE APARTMENT<br /><br />Studio apartment suit...,6,"[""Essentials"", ""Long term stays allowed"", ""TV""...",28,0,NaN,NaN,NaN,NaN
36716,51445654,Studio Exterior #5,345231956,Alberto,Manhattan,Midtown,40.748289,-73.987246,Entire home/apt,129,...,1 bath,THE APARTMENT<br /><br />Studio apartment suit...,5,"[""Essentials"", ""Crib"", ""Heating"", ""Dryer"", ""Mi...",28,0,NaN,NaN,NaN,NaN
36718,51447187,The Hunter IIIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.767841,-73.958164,Entire home/apt,125,...,1 bath,Welcome to The Hunter. This is a sophisticated...,2,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,...,1 bath,Welcome to The Hunter. This is a sophisticated...,4,"[""Essentials"", ""Long term stays allowed"", ""TV""...",1125,0,NaN,NaN,NaN,NaN

In [14]:
nyc_merged['bedrooms'].isna().value_counts()

False    32855
True      3869
Name: bedrooms, dtype: int64

### Cleaning Notes
* Will need to make NaN values in bedrooms to 0.
    * Most of these represent studios or lofts. Check other values as needed.

### Cleaning the `bathrooms_text` column.

We will create a new column called `private_bath`, and remove the text from the `bathrooms_text` column.

In [15]:
nyc_merged['bathrooms_text'].value_counts()

1 bath               19030
1 shared bath         9126
1 private bath        2260
2 baths               2169
2 shared baths        1115
1.5 baths             1002
1.5 shared baths       706
2.5 baths              293
3 baths                213
0 shared baths         135
3 shared baths         114
2.5 shared baths        92
3.5 baths               75
4 baths                 61
0 baths                 49
4 shared baths          39
Half-bath               37
4.5 baths               21
Shared half-bath        17
Private half-bath       17
5 baths                  8
5.5 baths                6
6 baths                  6
6 shared baths           5
5 shared baths           4
8 baths                  3
3.5 shared baths         3
4.5 shared baths         1
5.5 shared baths         1
7.5 baths                1
6.5 shared baths         1
6.5 baths                1
15.5 baths               1
7 shared baths           1
7 baths                  1
10 baths                 1
Name: bathrooms_text, dtype: int64

In [16]:
# Replaces everything with 'half-bath' in the name with .5
# Need to keep '.5 shared' for creating shared or private bathroom column.

nyc_merged['bathrooms_text'].replace(
    ['Half-bath', 'Private half-bath'], 
    value = .5, 
    inplace = True)

nyc_merged['bathrooms_text'].replace(
    'Shared half-bath', 
    value = '0.5 shared', 
    inplace = True)

In [17]:
nyc_merged['bathrooms_text'].value_counts()

1 bath              19030
1 shared bath        9126
1 private bath       2260
2 baths              2169
2 shared baths       1115
1.5 baths            1002
1.5 shared baths      706
2.5 baths             293
3 baths               213
0 shared baths        135
3 shared baths        114
2.5 shared baths       92
3.5 baths              75
4 baths                61
0.5                    54
0 baths                49
4 shared baths         39
4.5 baths              21
0.5 shared             17
5 baths                 8
6 baths                 6
5.5 baths               6
6 shared baths          5
5 shared baths          4
3.5 shared baths        3
8 baths                 3
15.5 baths              1
6.5 shared baths        1
4.5 shared baths        1
5.5 shared baths        1
7.5 baths               1
6.5 baths               1
7 shared baths          1
7 baths                 1
10 baths                1
Name: bathrooms_text, dtype: int64

In [18]:
# If the 'bathrooms_text' column contains the word 'shared', nyc_merged['private_bath'] = 0
# Else, nyc_merged['private_bath'] = 1

nyc_merged['private_bath'] = np.where(
    nyc_merged['bathrooms_text'].str.contains('shared'), 0, 1
)

In [19]:
# Check the above column creation

nyc_merged[['bathrooms_text', 'private_bath']].sample(10, random_state = 1)

       bathrooms_text  private_bath
2486           1 bath             1
5012          2 baths             1
31001          1 bath             1
19457          1 bath             1
12353   1 shared bath             0
28084          1 bath             1
18918  1 private bath             1
35660   1 shared bath             0
27605  1 private bath             1
27324   1 shared bath             0

In [20]:
nyc_merged['bathrooms_text'].isna().value_counts()

False    36615
True       109
Name: bathrooms_text, dtype: int64

In [21]:
# There are NaN values in the bathrooms_text column, so replace all values that are not NaN with the first entry of
# the split, which is always the number of bathrooms.

for ind in range(len(nyc_merged)): 
    if type(nyc_merged.at[ind, 'bathrooms_text']) != float:
        nyc_merged.at[ind, 'bathrooms_text'] = float(nyc_merged.at[ind, 'bathrooms_text'].split()[0])

In [22]:
# Checking the conversion.

nyc_merged[['bathrooms_text', 'private_bath']].value_counts()

bathrooms_text  private_bath
1.0             1               21290
                0                9126
2.0             1                2169
                0                1115
1.5             1                1002
                0                 706
2.5             1                 293
3.0             1                 213
0.0             0                 135
3.0             0                 114
2.5             0                  92
3.5             1                  75
0.5             0                  71
4.0             1                  61
0.0             1                  49
4.0             0                  39
4.5             1                  21
5.0             1                   8
6.0             1                   6
5.5             1                   6
6.0             0                   5
5.0             0                   4
8.0             1                   3
3.5             0                   3
5.5             0                   1
6.5             0                   1
                1                   1
7.0             0                   1
                1                   1
7.5             1                   1
4.5             0                   1
10.0            1                   1
15.5            1                   1
dtype: int64